<footer class="lg-landing-copy">
	<div class="socials-footer">
		<span class="connect">Связаться c&nbsp;нами: </span>
		<div class="socials-wrap">
			<a href="http://vk.com/lgrussia" class="soc vk" target="_blank"><img src="https://www.lg.com/ru/images/SNS/sns_vk_copy.png?--version--" alt="" title="Открывается в новом окне"></a>
			<a href="http://www.facebook.com/LGRussia" class="soc fb" target="_blank"><img src="https://www.lg.com/ru/images/SNS/sns_facebook_copy.png" alt="" title="Открывается в новом окне"></a>
			<a target="_blank" href="https://www.instagram.com/lg_rus/" data-sc-item="social-sharing" data-sc-value="instagram"><img src="https://www.lg.com/ru/images/SNS/insta_64-min.png" alt="instagram" title="Открывается в новом окне"></a>
			<a href="http://odnoklassniki.ru/LGRussia" class="soc ok" target="_blank"><img src="https://www.lg.com/ru/images/SNS/sns_odnok_copy.png" alt="" title="Открывается в новом окне"></a>
			<a target="_blank" href="http://youtube.com/lgrussia" data-sc-item="social-sharing" data-sc-value="youtube"><img src="https://www.lg.com/ru/images/SNS/sns_youtube_copy.png" alt="Youtube" title="Открывается в новом окне"></a>
		</div>
	</div>
	<span class="lg-landing-copy-text">Copyright © 2018 LG Electronics. Все права защищены.</span>
</footer>
