<div class="main-header">
	<div class="top-line">
		<div class="container-wrap clearfix">
			<div class="logo">
				<a href="/ru/"><img src="img/head/logo.png?" alt="LG-logo"></a>
			</div>
				<div class="m-right">
				<div class="search">
					<a href="/ru/search.lg">
						<img src="img/head/search.png?" alt="">
					</a>
				</div>
			</div>
			<div class="nav-wrapper">
				<ul class="main-menu">
					<li><a href="/ru/lg-signature" class="primary-nav-link" data-index="0"><span>LG SIGNATURE</span></a></li>
					<li><a href="/ru/tv-audio-video">ТВ/Аудио/Видео</a></li>
					<li><a href="/ru/computer-products">IT Продукция</a></li>
					<li><a href="/ru/mobile">Смартфоны</a></li>
					<li><a href="/ru/home-appliances">Бытовая техника</a></li>
					<li><a href="/ru/support">Поддержка</a></li>
				</ul>
			</div>
			<div class="mob-menu">
				<i></i>
			</div>
		</div>
	</div>
	<div class="middle-line">
		<div class="container-wrap clearfix">
			<ul class="middle-menu clearfix">
				<li><a href="https://rushop.lg.com/?utm_source=lgcom&amp;utm_medium=redmenu" target="_blank" title="Открывается в новом окне">Онлайн-магазин</a></li>
				<li><a href="/ru/about-lg/press-and-media/press-release">Пресс-релизы</a></li>
			</ul>
		</div>
	</div>
</div>