<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" trimDirectiveWhitespaces="true" %>
<jsp:include page="/WEB-INF/jsp/common-pf4/includes/doctype.jsp" />
<%@ include file="/WEB-INF/jsp/common-pf4/includes/common.jsp"%>
<% request.setAttribute("$pageType", "microsite"); %>
<!-- <html <c:out value='${$isRtlHtml }' escapeXml="false"/>" class="no-js no-ie" lang="<c:out value='${$languageCd}'/>" xmlns:fb="http://www.facebook.com/2008/fbml" data-countrycode="<c:out value='${$localeCd}'/>" xmlns:og="http://opengraphprotocol.org/schema/" data-java-localecode="<c:out value='${$javaLocale}'/>"> -->
<!--[if lt IE 9]><html <c:out value='${$isRtlHtml }' escapeXml="false"/>" class="no-js ie lt-ie9" lang="<c:out value='${$languageCd}'/>" xmlns:fb="http://www.facebook.com/2008/fbml" data-countrycode="<c:out value='${$localeCd}'/>" xmlns:og="http://opengraphprotocol.org/schema/" data-java-localecode="<c:out value='${$javaLocale}'/>"><![endif]-->
<!--[if IE 9]><html <c:out value='${$isRtlHtml }' escapeXml="false"/>" class="no-js ie ie9" lang="<c:out value='${$languageCd}'/>" xmlns:fb="http://www.facebook.com/2008/fbml" data-countrycode="<c:out value='${$localeCd}'/>" xmlns:og="http://opengraphprotocol.org/schema/" data-java-localecode="<c:out value='${$javaLocale}'/>" ><![endif]-->
<!--[if gt IE 9]><!-->
<html <c:out value='${$isRtlHtml }' escapeXml="false" /> class="no-js" lang="
<c:out value='${$languageCd}' />" xmlns:fb="https://www.facebook.com/2008/fbml" data-countrycode="
<c:out value='${$localeCd}' />" xmlns:og="https://opengraphprotocol.org/schema/" data-java-localecode="
<c:out value='${$javaLocale}' />">