<div class="product-lists owl-carousel">
    <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2W" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam и технологией быстрой стирки TurboWash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05874655/F2J7HS2W_350_170904.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2W">F2J7HS2W</a></p>
                  <div class="details">
         <div class="price">21&nbsp;590&nbsp;₽
            <div class="price-info">
               <a href="javascript:void(0);" class="tooltip-button">
                  <img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
               </a>
               <div class="tooltip">
                  Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
               </div>
            </div>
         </div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05874655" class="btn" data-sc-item="where-to-buy" data-sc-value="F2J7HS2W">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/narrow/stiralnaya-mashina-lg-f2j6ws1w.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="F2J7HS2W" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div>
   
   <div class="product-item mix motions s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2G" class="img-link">
      <img alt="Стиральная машина с функцией пара TrueSteam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md06044596/md06044596-350x350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>6 движений заботы</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2G">F2J7HS2G</a></p>
           <div class="details">
			<div class="price"></div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD06044596" class="btn" data-sc-item="where-to-buy" data-sc-value="F2J7HS2G">Где купить</a>
            </div>
         </div>
      </div>
   </div>
  
   <div class="product-item mix motions dry s1400 d61 w105">
      <a href="https://www.lg.com/ru/washing-machines/lg-TW4J8JH2W" class="img-link">
      <img alt="Стиральная машина с двойной загрузкой" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05988796/md05988796-350x350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 10.5 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 610 × 850</li>
               <li>Функция пара TrueSteam™</li>
               <li>Мобильная диагностика SmartDiagnosis™</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-TW4J8JH2W">TW4J8JH2W</a></p>
                           <div class="details">
			<div class="price"> 55&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05988796" class="btn" data-sc-item="where-to-buy" data-sc-value="TW4J8JH2W">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1400 d56 w9">
      <a href="https://www.lg.com/ru/washing-machines/lg-F4H9VS2S" class="img-link">
      <img alt="Стиральная машина с технологией &quot;6 движений заботы&quot;" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05952816/md05952816-350x350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 9 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 560 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F4H9VS2S">F4H9VS2S</a></p>
                           <div class="details">
			<div class="price">52&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05952816" class="btn" data-sc-item="where-to-buy" data-sc-value="F4H9VS2S">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/standard/stiralnaya-mashina-f4h9vs2s.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="F4H9VS2S" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1400 d56 w9">
      <a href="https://www.lg.com/ru/washing-machines/lg-F4J7VS2L" class="img-link">
      <img alt="Стиральная машина с функцией пара TrueSteam и технологией быстрой стирки TurboWash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05932496/F4J7VS2L_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 9 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 560 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F4J7VS2L">F4J7VS2L</a></p>
                           <div class="details">
			<div class="price"></div>
            <div id="shoppilot-inline-rating-container-f4j7vs2l" class="rating-ru-box" data-shoppilot="f4j7vs2l">
               <div class="sp-listing-inline-rating-widget">
                  <div class="sp-inline-rating-stars">
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                  </div>
                  
               </div>
            </div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05932496" class="btn" data-sc-item="where-to-buy" data-sc-value="F4J7VS2L">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2H9HS2W" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam, технологией быстрой стирки TurboWash и Wi-Fi подключением" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05931596/F2H9HS2W_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2H9HS2W">F2H9HS2W</a></p>
                           <div class="details">
			<div class="price">41&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>
            <div id="shoppilot-inline-rating-container-f2h9hs2w" class="rating-ru-box" data-shoppilot="f2h9hs2w">
               <div class="sp-listing-inline-rating-widget">
                  <div class="sp-inline-rating-stars">
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-off"></div>
                  </div>
                  
               </div>
            </div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05931596" class="btn" data-sc-item="where-to-buy" data-sc-value="F2H9HS2W">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/standard/stiralnaya-mashina-f2h9hs2w.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="F2H9HS2W" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2H7HS2L" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam, технологией быстрой стирки TurboWash и Wi-Fi подключением" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05931298/F2H7HS2L_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2H7HS2L">F2H7HS2L</a></p>
                  <div class="details">
			<div class="price">39&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05931298" class="btn" data-sc-item="where-to-buy" data-sc-value="F2H7HS2L">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/narrow/stiralnaya-mashina-f2h7hs2l.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="F2H7HS2L" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2S" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam, технологией быстрой стирки TurboWash и Wi-Fi подключением" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05914576/F2J7HS2S_350-min.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2S">F2J7HS2S</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05914576" class="btn" data-sc-item="where-to-buy" data-sc-value="F2J7HS2S">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions s1200 d45 w7">
      
      <a href="https://www.lg.com/ru/washing-machines/lg-F12U2HCS2-narrow-direct-drive-washing-machines" class="img-link">
      <img alt="Стиральная машина LG с функцией пара True Steam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05136294/F12U2HCS2_350_new.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш х Г х В): 600 x 450 x 850</li>
               <li>Функция пара True Steam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F12U2HCS2-narrow-direct-drive-washing-machines">F12U2HCS2</a></p>
                  <div class="details">
			<div class="price"></div>
            <div id="shoppilot-inline-rating-container-f12u2hcs2" class="rating-ru-box" data-shoppilot="f12u2hcs2">
               <div class="sp-listing-inline-rating-widget">
                  <div class="sp-inline-rating-stars">
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                  </div>
                  
               </div>
            </div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05136294" class="btn" data-sc-item="where-to-buy" data-sc-value="F12U2HCS2">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions s1600 d64 w105">
      <a href="https://www.lg.com/ru/washing-machines/lg-FH4G1JCH2N" class="img-link">
      <img alt="Стиральная машина с функцией сушки Eco Hybrid и паром True Steam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05904556/FH4G1JCH2N_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 10.5 кг</li>
               <li>Габариты (Ш × Г × В): 600 x 640 x 850</li>
               <li>Функция сушки Eco Hybrid</li>
               <li>Функция пара True Steam</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-FH4G1JCH2N">FH4G1JCH2N</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05904556" class="btn" data-sc-item="where-to-buy" data-sc-value="FH4G1JCH2N">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions s1600 d64 w12">
      <a href="https://www.lg.com/ru/washing-machines/lg-FH6G1BCH6N" class="img-link">
      <img alt="Стиральная машина с функцией сушки и паром True Steam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05902436/FH6G1BCH6N_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 12 кг</li>
               <li>Габариты (Ш × Г × В): 600 x 640 x 850</li>
               <li>Функция сушки Eco Hybrid</li>
               <li>Функция пара True Steam</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-FH6G1BCH6N">FH6G1BCH6N</a></p>
                  <div class="details">
			<div class="price">109&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05902436" class="btn" data-sc-item="where-to-buy" data-sc-value="FH6G1BCH6N">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/standard/stiral-naya-mashina-lg-twinwash-g-s-dvumya-barabanami-funktsiya-stirki-parom-truesteam-fh6g1bch6n.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="FH6G1BCH6N" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div>

   <div class="product-item mix motions turbo s1200 d77 w17">
      <a href="https://www.lg.com/ru/washing-machines/lg-F1K2CH2T" class="img-link">
      <img alt="Стиральная машина с функцией сушки, паром True Steam и технологией быстрой стирки Turbo Wash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05899696/F1K2CH2T_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 17 кг</li>
               <li>Габариты (Ш × Г × В): 700 × 770 × 990</li>
               <li>Функция сушки</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F1K2CH2T">F1K2CH2T</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05899696" class="btn" data-sc-item="where-to-buy" data-sc-value="F1K2CH2T">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="product-item mix motions s1200 d45 w65">
      <a href="https://www.lg.com/ru/washing-machines/lg-FH2H3WD4" class="img-link">
      <img alt="Стиральная машина с технологией «6 движений заботы» и прямым приводом" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05899217/FH2H3WD4_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 6.5 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 440 × 850</li>
               <li>6 движений заботы</li>
               <li>Система прямого привода</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-FH2H3WD4">FH2H3WD4</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05899217" class="btn" data-sc-item="where-to-buy" data-sc-value="FH2H3WD4">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/narrow/stiral-naja-mashina-lg-fh2h3wd4.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="FH2H3WD4" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div> -->
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2H9HS2S" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара True Steam и технологией быстрой стирки Turbo Wash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05898539/F2H9HS2S_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара True Steam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2H9HS2S">F2H9HS2S</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05898539" class="btn" data-sc-item="where-to-buy" data-sc-value="F2H9HS2S">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions dry s1600 d64 w12">
      <a href="https://www.lg.com/ru/washing-machines/lg-FH6G1BCH2N" class="img-link">
      <img alt="Стиральная машина с функцией сушки и паром True Steam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05898576/FH6G1BCH2N_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 12 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 640 × 850</li>
               <li>Функция сушки Eco Hybrid</li>
               <li>Функция пара True Steam</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-FH6G1BCH2N">FH6G1BCH2N</a></p>
                  <div class="details">
			<div class="price"></div>
            <div id="shoppilot-inline-rating-container-fh6g1bch2n" class="rating-ru-box" data-shoppilot="fh6g1bch2n">
               <div class="sp-listing-inline-rating-widget">
                  <div class="sp-inline-rating-stars">
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                  </div>
                  
               </div>
            </div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05898576" class="btn" data-sc-item="where-to-buy" data-sc-value="FH6G1BCH2N">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2J9HS2S" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam и технологией быстрой стирки TurboWash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05882837/F2J9HS2S_350-27092017.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2J9HS2S">F2J9HS2S</a></p>
                  <div class="details">
			<div class="price">49&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05882837" class="btn" data-sc-item="where-to-buy" data-sc-value="F2J9HS2S">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2J9HS2L" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam и технологией быстрой стирки TurboWash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05883816/F2J9HS2L_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш х Г х В): 600 х 450 х 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2J9HS2L">F2J9HS2L</a></p>
                  <div class="details">
			<div class="price"></div>
            <div id="shoppilot-inline-rating-container-f2j9hs2l" class="rating-ru-box" data-shoppilot="f2j9hs2l">
               <div class="sp-listing-inline-rating-widget">
                  <div class="sp-inline-rating-stars">
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                     <div class="sp-star-on"></div>
                  </div>
                  
               </div>
            </div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05883816" class="btn" data-sc-item="where-to-buy" data-sc-value="F2J9HS2L">Где купить</a>
            </div>
         </div>
      </div>
   </div>
  
   <div class="product-item mix motions turbo s1200 d45 w7">
      <a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2L" class="img-link">
      <img alt="Узкая стиральная машина с функцией пара TrueSteam и технологией быстрой стирки TurboWash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05867681/F2J7HS2L_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 7 кг</li>
               <li>Габариты (Ш × Г × В): 600 × 450 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F2J7HS2L">F2J7HS2L</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05867681" class="btn" data-sc-item="where-to-buy" data-sc-value="F2J7HS2L">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1400 d56 w9">
      <a href="https://www.lg.com/ru/washing-machines/lg-F4J9VS2L" class="img-link">
      <img alt="Стиральная машина с функцией пара TrueSteam и технологией быстрой стирки TurboWash" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05867715/F4J9VS2L_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 9 кг</li>
               <li>Габариты (Ш×Г×В): 600 × 560 × 850</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F4J9VS2L">F4J9VS2L</a></p>
                  <div class="details">
			<div class="price">39&nbsp;590&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05867715" class="btn" data-sc-item="where-to-buy" data-sc-value="F4J9VS2L">Где купить</a>
               <a href="https://rushop.lg.com/appliances/washing-machines/standard/stiralnaya-mashina-lg-f4j9vs2l.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="F4J9VS2L" title="Открывается в новом окне" target="_blank">Купить онлайн</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1100 d84 w17">
      <a href="https://www.lg.com/ru/washing-machines/lg-TW7000DS-TW351W" class="img-link">
      <img alt="Стиральная машина с двумя барабанами, функцией сушки и паром True Steam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05856441/TW7000DS_350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 17 кг</li>
               <li>Габариты (Ш х Г х В): 700 х 835 х 990</li>
               <li>Функция пара TrueSteam</li>
               <li>Функция быстрой стирки TurboWash</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-TW7000DS-TW351W">TW7000DS</a></p>
                  <div class="details">
			<div class="price"></div>

            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05856441" class="btn" data-sc-item="where-to-buy" data-sc-value="TW7000DS">Где купить</a>
            </div>
         </div>
      </div>
   </div>
   <div class="product-item mix motions turbo s1400 d56 w9">
		<a href="https://www.lg.com/ru/washing-machines/lg-F4J9VS2S" class="img-link thumb-src is-loaded">
			<img alt="Стиральная машина LG с функцией пара True Steam" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05866337/F4J9VSR2S_350.jpg">
		</a>
		<div class="copy-area">
			<div class="catalog-list">
				<ul>
					<li>Загрузка: 9 кг</li>
					<li>Габариты (Ш×Г×В): 600 × 560 × 850</li>
					<li>Функция пара True Steam</li>
					<li>Функция быстрой стирки TurboWash</li>
				</ul>
			</div>
			<p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-F4J9VS2S">F4J9VS2S</a></p>
			         <div class="details">
			<div class="price">49&nbsp;990&nbsp;₽
				<div class="price-info">
					<a href="javascript:void(0);" class="tooltip-button">
						<img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
					</a>
					<div class="tooltip">
						Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
					</div>
				</div>
			</div>
				<div class="cta cta-button">
					<a href="https://www.lg.com/ru/products/wtb?modelId=MD05866337" class="btn" data-sc-item="where-to-buy" data-sc-value="F4J9VS2S">Где купить</a><br>
					<a href="https://rushop.lg.com/appliances/washing-machines/standard/stiralnaya-mashina-lg-f4j9vs2s.html?lgcom_source=buybutton" class="btn buy-now" adobe-click="brshop-btn" adobe-model="F4J9VS2S" title="Открывается в новом окне" target="_blank">Купить онлайн</a><!-- LGERU-3544 -->
				</div>
			</div>
		</div>
	</div>
   <div class="product-item mix motions dry turbo s1600 d68 w12">
      <a href="https://www.lg.com/ru/washing-machines/lg-LSWD100" class="img-link">
      <img alt="LG SIGNATURE Cтиральная машина с технологией Centum® System" class="owl-lazy" src="" data-src="https://www.lg.com/ru/images/washing-machines/md05840950/md05840950-350x350.jpg">
      </a>

      <div class="copy-area">
         <div class="catalog-list">
            <ul>
               <li>Загрузка: 12 кг</li>
               <li>Габариты (Ш х Г х В): 600 x 675 x 1215 </li>
               <li>Автоматическое дозирование моющего средства</li>
               <li>Большая дверца с технологией Push&nbsp;Open</li>
            </ul>
         </div>
         <p class="model-num"><a href="https://www.lg.com/ru/washing-machines/lg-LSWD100">LSWD100</a></p>
           <div class="details">
         <div class="price">300&nbsp;000&nbsp;₽
            <div class="price-info">
               <a href="javascript:void(0);" class="tooltip-button">
                  <img class="owl-lazy" src="" data-src="--path--img/i.png?--version--" alt="">
               </a>
               <div class="tooltip">
                  Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
               </div>
            </div>
         </div>
            <div class="cta cta-button">
               <a href="https://www.lg.com/ru/products/wtb?modelId=MD05840950" class="btn" data-sc-item="where-to-buy" data-sc-value="LSWD100">Где купить</a>
            </div>
         </div>
      </div>
   </div>

</div>