.feature-col-inner .disclamer {
	 left: 9.75%;
    bottom: 1vw;
    width: 100%;
    font-size: 11px;
    opacity: 0.5;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin: 0;
}
.banner-wrap .banner-main .banner-text {
	left: 57%;
}
.section-wrap .features-block .feature-item .feature-img-col .feature-point .point-img img {
	max-width: 34px;
}
.section-wrap .features-block .feature-item .feature-content-col .feature-col-inner > img.small-wash {
	position: absolute;
	bottom: 3vw;
	left: 9.75%;
	width: 45%;
}
.section-wrap .content-block .content-col.title-col {
	width: 30%;
}
.section-wrap .content-block .content-logo {
	width: 25.625vw;
	height: 6.0625vw;
}
.section-wrap .content-block .truesteam-subline {
	padding-left: 3.75vw;
}
.section-wrap .content-block .content-col.big {
	width: 34%;
	margin-right: 8%;
}
.section-wrap .features-block .feature-item.feature-1 .feature-text {
	width: 28vw;
}
.section-wrap .features-block .feature-item.feature-1 .feature-point {
	top: 75%;
	left: 38%;
}

.section-wrap .features-block .feature-item.feature-2 .feature-point {
	top: 13%;
	left: 10%;
}
.section-wrap .features-block .feature-item.feature-2 .feature-img-col  .feature-point .point-text {
	width: 15vw;
	padding: 1.2vw 2vw 1.2vw 2vw;
}
.section-wrap .features-block .feature-item.feature-2 .feature-text {
	width: 24vw;
}
.section-wrap .features-block .feature-item.feature-2 .feature-title {
	width: 68%;
}
.section-wrap .features-block .feature-item .feature-img-col .feature-point .point-text {
	padding: 1.2vw 2vw 1.2vw 3vw;
	width: 19.53vw;
}
.section-wrap .features-block .feature-item.feature-3 .feature-content {
	left: 9.75%;
}
.section-wrap .features-block .feature-item.feature-3 .feature-title {
	width: 100%;
}
.section-wrap .features-block .feature-item.feature-3 .feature-text {
	width: 100%;
}
.section-wrap .features-block .feature-item.feature-4 .feature-text {
	width: 70%;
}
.section-wrap .features-block .feature-item.feature-4 .feature-point {
	top: 76%;
	left: 36%;
}
.section-wrap .features-block .feature-item.feature-4 .feature-point .point-text {
	width: 16vw;
}
.section-wrap .features-block .feature-item.feature-5 .feature-title {
	width: 85%;
}
.section-wrap .features-block .feature-item.feature-5 .feature-text {
	width: 90%;
}
.section-wrap .features-block .feature-item.feature-5 .feature-point {
    top: 65%;
    left: 33%;
}
.section-wrap .features-block .feature-item.feature-6 .feature-text,
.section-wrap .features-block .feature-item.feature-6 .feature-title {
	margin-left: 0;
}
.section-wrap .features-block .feature-item.feature-6 .feature-text {
	width: 55%;
}

.section-wrap .features-block .feature-item.feature-7 .feature-content-col .feature-content {
	width: 50%;
}
.section-wrap .features-block .feature-item.feature-7 .feature-title {
	width: 85%;
}
.section-wrap .features-block .feature-item.feature-7 .feature-text {
	width: 99%;
}
.section-wrap .features-block .feature-item.feature-7 .feature-point {
	top: 76%;
	left: 36%;
}
.section-wrap .features-block .feature-item.feature-7 .feature-point .point-text {
    background: url(../img/bubble-pants.svg) no-repeat center center/contain;
    width: 21.5vw;
}
.section-wrap .features-block .feature-item.feature-3 .feature-point .point-text,
.section-wrap .features-block .feature-item.feature-7 .feature-point .point-text,
.section-wrap .features-block .feature-item.feature-6 .feature-point .point-text {
	width: 13vw;
	background: url(../img/bubble-suit.svg) no-repeat center center/contain;
	padding: 1.2vw 2vw 1.2vw 5vw;
}
	.section-wrap .features-block .feature-item.feature-3 .feature-point,
	.section-wrap .features-block .feature-item.feature-7 .feature-point,
	.section-wrap .features-block .feature-item.feature-6 .feature-point {
		top: 68%;
		left: 33%;
	}
.product-section * {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

}
@media(min-width:1601px) {
	.section-wrap .content-block .content-logo {
		width: 410px;
		height: 97px;
	}
	.section-wrap .content-block .truesteam-subline {
		padding-left: 60px;
	}
	.section-wrap .features-block .feature-item .feature-img-col .feature-point .point-text {
		padding: 19px 32px 19px 42px;
		width: 295px;
	}
	.section-wrap .features-block .feature-item.feature-1 .feature-text {
		width: 448px;
	}
	.section-wrap .features-block .feature-item.feature-2 .feature-text {
		width: 384px;
	}
	
	.section-wrap .features-block .feature-item.feature-3 .feature-point .point-text,
	.section-wrap .features-block .feature-item.feature-7 .feature-point .point-text,
	.section-wrap .features-block .feature-item.feature-6 .feature-point .point-text {
		width: 208px;
		padding: 19px 32px 19px 80px;
	}
	.section-wrap .features-block .feature-item.feature-2 .feature-img-col .feature-point .point-text {
		width: 240px;
		padding: 19px 32px 19px 32px;
	}
	.section-wrap .features-block .feature-item.feature-4 .feature-point .point-text {
		width: 256px;
	}
}
@media(max-width:767px) {
	.banner-wrap .banner-main .banner-text {
		left: 22%;
	}
	.feature-col-inner .disclamer {
		font-size: 12px;
		bottom: 2vw;
	}
	.banner-wrap .banner-main .banner-text .banner-logo {
		width: 70%;
		margin-bottom: 2vw;
	}
	.section-wrap .content-block .truesteam-subline {
		display: none;
	}
	.section-wrap .content-block .content-col.big {
		margin: auto;
		width: 100%;
	}
	.section-wrap .features-block .feature-item.feature-1 .feature-point {
		top: 49%;
		left: 8%;
	}
	.section-wrap .features-block .feature-item.feature-1 .feature-text {
		width: 56vw;
	}
	.section-wrap .features-block .feature-item.feature-2 .feature-text {
		width: 48vw;
	}
	.section-wrap .features-block .feature-item .feature-img-col .feature-point .point-text {
		padding: 3.2vw 5vw 3.2vw 5vw;
	}
	.section-wrap .features-block .feature-item.feature-2 .feature-img-col .feature-point .point-text,
	.section-wrap .features-block .feature-item.feature-3 .feature-img-col .feature-point .point-text,
	.section-wrap .features-block .feature-item.feature-2 .feature-img-col .feature-point .point-text,
	.section-wrap .features-block .feature-item.feature-7 .feature-img-col .feature-point .point-text,
	.section-wrap .features-block .feature-item.feature-6 .feature-img-col .feature-point .point-text {
		width: 25vw;
	}
	.section-wrap .features-block .feature-item.feature-5 .feature-point {
		top: 51%;
	}
	.section-wrap .features-block .feature-item.feature-5 .feature-img-col .feature-point .point-text {
		width: 42vw;
	}
	.section-wrap .features-block .feature-item.feature-4 .feature-point {
		top: 53%;
		left: 5%;
	}
	.section-wrap .features-block .feature-item.feature-4 .feature-img-col .feature-point .point-text {
		width: 38vw;
	}
	.section-wrap .features-block .feature-item .feature-content-col .feature-col-inner > img.small-wash {
		bottom: 6vw;
	}
	.section-wrap .features-block .feature-item.feature-7 .feature-point .point-text {
		font-size: 3.7vw;
	}
	.section-wrap .features-block .feature-item.feature-7 .feature-point {
		top: 54%;
	}
	.section-wrap .features-block .feature-item.feature-3 .feature-point,
	.section-wrap .features-block .feature-item.feature-2 .feature-point,
	.section-wrap .features-block .feature-item.feature-7 .feature-point,
	.section-wrap .features-block .feature-item.feature-6 .feature-point {
		top: 48%;
		left: 33%;
	}
	
}
.owl-carousel.owl-hidden {
	opacity: 1;
}