$lg: #A50034;
@font-face {
    font-family: 'lg_smartregular';
    src:url('../fonts/LGSmartRegular__W.eot');
    src:url('../fonts/LGSmartRegular__W.eot?#FooAnything') format('embedded-opentype'),
      url('../fonts/LGSmartRegular__W.woff') format('woff'),
      url('../fonts/LGSmartRegular__W.ttf') format('truetype'),
      url('../fonts/LGSmartRegular__W.svg#LGFontRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lg_smartlight';
    src:url('../fonts/LGSmartLight__W.eot');
    src:url('../fonts/LGSmartLight__W.eot?#FooAnything') format('embedded-opentype'),
      url('../fonts/LGSmartLight__W.woff') format('woff'),
      url('../fonts/LGSmartLight__W.woff2') format('woff2'),
      url('../fonts/LGSmartLight__W.ttf') format('truetype'),
      url('../fonts/LGSmartLight__W.svg#LGFontLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg_smartsemibold';
    src:url('../fonts/LGSmartSemiBold__W.eot');
    src:url('../fonts/LGSmartSemiBold__W.eot?#FooAnything') format('embedded-opentype'),
      url('../fonts/LGSmartSemiBold__W.woff') format('woff'),
      url('../fonts/LGSmartSemiBold__W.woff2') format('woff2'),
      url('../fonts/LGSmartSemiBold__W.ttf') format('truetype'),
      url('../fonts/LGSmartSemiBold__W.svg#LGFontMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lg_smartbold';
    src:url('../fonts/LGSmartBold__W.eot');
    src:url('../fonts/LGSmartBold__W.eot?#FooAnything') format('embedded-opentype'),
      url('../fonts/LGSmartBold__W.woff') format('woff'),
      url('../fonts/LGSmartBold__W.ttf') format('truetype'),
      url('../fonts/LGSmartBold__W.svg#LGFontMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: lg_smartlight;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
sup {
  font-size: 0.7em;
}
ul {
  list-style-type: none;
}
.section-filters-bar-outer {
  background: #f2f2f2;
  margin-top: 80px;
}
.fadeInAnim{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.fadeOutAnim{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
.fade {
    opacity: 0;
    // margin-top: -4vw;
}
.mob {
      display: none !important;
    }
.desk {
  display: block !important;
}
body.fixed{
  overflow: hidden;
}
.disclamer {
  font-size: 12px;
}
.button {
  display: inline-block;
  color: #FFF;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background: #a50034;
  border: 1px solid #a50034;
  
  text-align: center;
  padding: 0.5vw 2.5vw;
  font-size: 1.75vw;
  // font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
      -ms-transition: 0.4s;
       -o-transition: 0.4s;
          transition: 0.4s;
  &:hover {
    text-decoration: none;
    background:#e10b4b;
    border: 1px solid #e10b4b;
    color: #fff;
  }
  &:active {
    text-decoration: none;
    background:#d7104b;
    border: 1px solid #d7104b;
    color: #fff;
  }
}
.bg {
  width: 100%;
}
.owl-prev,
.owl-next {
  &.disabled {
    display: none;
  }
}
.disclamer {
  // width: 94%;
  font-size: 12px;
  color: #505050;
  margin: 10px auto;
  // text-align: left;
}
.bold {
  font-family: lg_smartbold;
}
.gallery-outer {
  background: #000;
}
.banner-wrap {
  max-width: 1600px;
  margin: auto;
  .banner-main {
    position: relative;
    overflow: hidden;
    .parallax {
      position: absolute;
      transition: all 0.8s ;
      width: 100%;
      // top: 5vw;
      top: 0vw;
      left: 0;
    }
    .parallax.top-a {
      position: absolute;
      transition: all 0.8s ;
      width: 100%;
      // top: 5vw;
      top: -5vw;
      left: 0;
    }    
    img {
      width: 100%;
    }
    .banner-text {
      position: absolute;
      top: 7%;
      left: 54%;
      text-align: center;
      width: 32%;
      .banner-logo {
        width: 44%;
        margin-bottom: 5%;
      }
      .banner-slogan {
        text-align: left;
        font-size: 3vw;
        line-height: 1;
        .subslogan {
          margin-top: 1vw;
          font-size: 2vw;
        }
      }
    }
    .banner-button-outer {
      position: absolute;
      top: 14%;
      left: 82%;
      display: none;
      .banner-button {
        cursor: pointer;
        left: auto;
        right: 2.5%;
      }
      .fixed {
        position: fixed;
        top: 20px;
        z-index: 2;
      }
    }
  }
  .banner-bottom {
    position: relative;
    &>img {
      width: 100%;
    }
    .banner-bottom-content {
      position: absolute;
      top: 15%;
      left: 66%;
      width: 25%;
      .banner-bottom-text {
        font-size: 3.75vw;
        line-height: 1;
      }
    }
    .disclamer {
      position: absolute;
      bottom: 10px;
      left: 3%;
    }

  }
}
.section-outer {
  width: 100%;
  overflow: hidden;
}
.nav-text {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  font-size: 2vw;
  width: 55%;
  margin: 5vw auto 2vw;
  padding: 1.5vw 0;
  text-align: center;
  .bold {
    font-family: lg_smartbold;
  }
}
.anch {
  cursor: pointer;
}
.nav-more {
  font-size: 2vw;
  margin: 5vw auto 2vw;
  text-align: center;
}
.nav-block {
  max-width: 1600px;
  margin: auto;
  display: flex;
  padding: 40px 0 0;
  -webkit-justify-content: center;
          justify-content: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 66%,  rgba(249,249,249,1) 100%);
  .nav-col {
    a {
      display: block;
      color: #000;
      text-decoration: none;
      -webkit-transition: 0.3s;
         -moz-transition: 0.3s;
          -ms-transition: 0.3s;
           -o-transition: 0.3s;
              transition: 0.3s;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    .nav-col-text {
      text-align: center;
      font-size: 20px;
      line-height: 1.15;
      margin-bottom: 10px;
    }
    &.truesteam-col {
      .nav-col-logo {
        width: 251px;
        height: 57px;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &.styler-col {
      .nav-col-logo {
        width: 190px;
        height: 54px;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .switch {
    padding-top: 30px;
    position: relative;
    padding-bottom: 88px;
    #container-s {
      position: relative;
      z-index: 1;
      margin-left: 30px;
      margin-right: 30px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      // border: 2px solid rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.25);
              box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.25);
      padding: 8px 20px;
      height: 40px;
      width: 250px;
      .slide-text {
        position: absolute;
        top: 50%;
        width: 60%;
        left: 20%;
        color: rgba(0, 0, 0, 0.25);
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
        font-size: 16px;
      }
      .switch-slider {
        width: 0;
        height: 15px;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          background: url(../img/tw-switch3.png) no-repeat center center/contain;
          width: 120px;
          height: 120px;
          top: 0;
          left: -58px;
        }
        &:before {
          content: "";
          z-index: 1;
          position: absolute;
          width: 120px;
          height: 120px;
          top: 0;
          left: -58px;
          background: linear-gradient(to bottom, rgba(255,255,255,0) 66%,  rgba(249,249,249,1) 100%);
        }
        &#switch-slider-wm {
          left: 210px;
          &:after {
            background: url(../img/wm-switch3.png) no-repeat center center/contain;
          }
          
        }
        // -webkit-border-radius: 10px;
        //         border-radius: 10px;
        // background: $lg;
      }
    }
    .switch-bg {
      position: absolute;
      bottom: 0;
      width: 120px;
    }
    .switch-img {
      position: relative;
    }
    &.wm-switch {
      .slide-text {
            left: auto;
            right: 20%;
            text-align: right;
          }
      // margin-right: -3%;
      // margin-left: 3%;
      .switch-bg {
      opacity: 0.2;

        left: 0;
        // width: 50%;
        -webkit-animation:  switchAnimWm 4s ease-in-out  infinite  ;
           -moz-animation:  switchAnimWm 4s ease-in-out  infinite  ;
             -o-animation:  switchAnimWm 4s ease-in-out  infinite  ;
                animation:  switchAnimWm 4s ease-in-out  infinite  ;
      }
    }
    &.tw-switch {
      // margin-left: 0;
      // margin-right: 2%;
      // margin-left: 20px;
      .switch-bg {
        opacity: 0.5;
        right: 0;
        // width: 50%;
       -webkit-animation:  switchAnimTw 4s ease-in-out  infinite  ;
           -moz-animation:  switchAnimTw 4s ease-in-out  infinite  ;
             -o-animation:  switchAnimTw 4s ease-in-out  infinite  ;
                animation:  switchAnimTw 4s ease-in-out  infinite  ;
      }
    }
    // }
    a {
      display: block;
      position: relative;
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 66%,  rgba(249,249,249,1) 100%);
        
      }
    }
  }
}
.section-wrap {
  max-width: 1600px;
  margin: auto;
  width: 90%;
  .page-title {
    text-align: center;
    max-width: 90%;
    font-size: 36px;
    line-height: 1;
    margin: 23px auto 34px;
    color: #707070;
  }
  .content-block {
    padding: 80px 0;
    .content-block-inner {
      width: 95%;
      margin-left: 2%;
      padding-left: 3.4vw;
      display: flex;
      // -webkit-align-items: flex-end;
      //         align-items: flex-end;
      -webkit-justify-content: space-between;
              justify-content: space-between;
    }
    .content-col {
      width: 26%;
      &.title-col {
        width: 20%;
      }
      &.big {
          width: 47%;
          display: flex;
          -webkit-align-items: center;
                  align-items: center;
          font-size: 2.5vw;
          padding-right: 10%;
        }
    }
    .truesteam-subline {
      font-size: 2.25vw;
    }
    .content-logo {
      // max-width: 295px;
      // width: 80%;
      width: 16vw;
      height: 4.6525vw;
      img {
        width: 100%;
        height: 100%;
      }
      // margin-bottom: 30px;
      
    }
    .content-title {
      font-size: 3.75vw;
      line-height: 1;
    }
    .content-text {
      font-size: 24px;
      line-height: 1.25;
      margin-top: 7.7vw;
    }
  }
  .features-block {
    padding-top: 80px;
    .feature-item {
      display: flex;
      margin-bottom: 80px;
      
      .feature-content-col {
        .feature-col-inner {
          position: relative;
          &:hover {
            .real-bg {
              width: 40.22vw;
              height: 36.64vw;
              top: -1.67vw;
              left: -1.828vw;
              // left: -5%;
              // top: -5%;
              .real-bg-img {
                left: 0;
                top: 0;
              }
            }
            .prod {
              top: -5%;
              left: -5%;
              height: 110%;
              width: 110%;
              img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
              }
            }
          }
          .real-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: hidden;
              -webkit-transition:  0.6s;
                 -moz-transition:  0.6s;
                  -ms-transition:  0.6s;
                   -o-transition:  0.6s;
                      transition:  0.6s;

            .real-bg-img {
              max-width: 250%;
              position: absolute;
              width: 40.22vw;
              height: 36.64vw;
              top: -1.67vw;
              left: -1.828vw;
              -webkit-transition:  0.6s;
                 -moz-transition:  0.6s;
                  -ms-transition:  0.6s;
                   -o-transition:  0.6s;
                      transition:  0.6s;
            }
          }
         .fake-bg {opacity: 0;}
          &>img {
            width: 100%;
          }
        }
        .prod-1,
        .prod {
          overflow: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          -webkit-transition:  0.6s;
             -moz-transition:  0.6s;
              -ms-transition:  0.6s;
               -o-transition:  0.6s;
                  transition:  0.6s;
          img {
            position: absolute;
            top: -5%;
            left: -5%;
            width: 110%;
            max-width: 110%;
            height: 110%;
            -webkit-transition:  0.6s;
               -moz-transition:  0.6s;
                -ms-transition:  0.6s;
                 -o-transition:  0.6s;
                    transition:  0.6s;
            
          }
        }
        z-index: 1;
        position: relative;
        width: 38.9%;
        // flex: 1 1 auto;
        .feature-content {
          position: absolute;
          color: #000;
          left: 9.75%;
          top: 3.75vw;
          width: 91%;
          will-change:transform;
          .feature-title {
            font-size: 2.7vw;
            line-height: 1.1;
            // font-family: lg_smartbold;
            margin-bottom: 1.5vw;
          }
          .feature-text {
            font-size: 1.4vw;
            line-height: 1.25;
          }
          &.white {
            color: #FFF;
          }
        }
      }
      .feature-img-col {
        width: 63%;
        position: relative;
        margin-top: 2vw;
        video {
          width: 100%;
          height: auto;
        }
        &>img {
          width: 100%;
        }
        .feature-point {
          position: absolute;
          display: flex;
            -webkit-align-items: center;
                    align-items: center;
          .point-img {
            width: 5vw;
          }
          .point-text {
            -webkit-order: -1;
                -ms-order: -1;
                    order: -1;
            width: 60%;
            padding: 1.2vw 2vw 1.2vw 3vw;
            color: #FFF;
            font-size: 1.5vw;
            line-height: 1.25;
          }

        }
        // flex: 1 0 auto;
      }
      &.left {
        .feature-content-col {
          margin-left: 2%;
        }
        .feature-img-col {
          margin-left: -5%;
          // margin-top: 2vw;
        }
       
      }
      &.right{
        .feature-content-col {
          margin-left: -5%;
          // margin-top: 2vw;
        }
        .feature-img-col {
          -webkit-order: -1;
              -ms-order: -1;
                  order: -1;
        }
      }
      &.feature-1 {
        .feature-title {
          width: 49%;
        }
        .feature-text {
          width: 14vw;
        }
        .feature-point {
          top: 20%;
          left: 18%;
          .point-text {
            background: url(../img/bubble-dress.svg) no-repeat center center/contain;
            // width: 57%;
            width: 19vw;
            padding: 1.2vw 2vw 1.2vw 2.5vw;
          }
        }
      }
      &.feature-5 {
        // .feature-content-col .feature-col-inner > .prod {
        //   // left: 0;
        // }
        // .feature-content-col .prod img {
        //   top: -4.25vw;
        //   // width: 100%;
        //   max-width: 150%;
        //   width: 138%;
        // }
        .feature-title {
          width: 43%;
        }
        .feature-text {
          width: 42%;
        }
        .feature-point {
            top: 56%;
            left: 14%;
            .point-text {
              background: url(../img/bubble-bear.svg) no-repeat center center/contain;
              // width: 55%;
              width: 24vw;
            }
          }
          .baf {
            position: absolute;
            width: 12%;
            top: 1vw;
            right: 1vw;
            z-index: 2;
          }
          .disclamer {
            position: absolute;
            left: 9.75%;
            bottom: 1vw;
            width: 48%;
            font-size: 11px;
            opacity: 0.5;
          }
      }
      &.feature-2 {
        // .feature-content-col .feature-col-inner .prod img {
        //   max-width: 150%;
        //   width: 138%;
        //   // left: 0;
        //   right: -38%;
        // }
        .feature-title {
          width: 49%;
        }
        .feature-text {
          width: 18vw;
        }
        .feature-point {
          top: 20%;
          left: 33%;
          .point-text {
            background: url(../img/bubble-fish.svg) no-repeat center center/contain;
            width: 20vw;
          }
        }
      }
      &.feature-3 {
        // .feature-content-col .feature-col-inner .prod img {
        //   max-width: 150%;
        //   width: 130%;
        //   // left: 0;
        //   top: -3vw;
        //   right: -17%;
        // }
        
        .feature-content {
          left: 50%;
          width: 50%;
        }
        .feature-title {
          width: 80%;
        }
        .feature-text {
          width: 78%;
        }
        .feature-point {
          top: 68%;
          left: 33%;
          .point-text {
            background: url(../img/bubble-suit.svg) no-repeat center center/contain;
            width: 26vw;
          }
        }
      }
      &.feature-4 {
        // .feature-content-col .feature-col-inner .prod img {
        //   max-width: 150%;
        //   width: 138%;
        //   // left: 0;
        // }
        .feature-title {
          width: 58%;
        }
        .feature-text {
          width: 47%;
        }
        .feature-point {
          display: flex;
          -webkit-align-items: center;
                  align-items: center;
          // top: 29%;
          top: 6%;
          left: 48%;
          .point-text {
            background: url(../img/bubble-coat.svg) no-repeat center center/contain;
            // width: 55%;
            width: 24vw;
          }
        }
      }
      &.feature-6 {
        // .feature-content-col .feature-col-inner .prod img {
        //   max-width: 150%;
        //   width: 138%;
        //   // right: 0;
        // }
        .feature-title {
          margin-left: 40%;
          width: 50%;
        }
        .feature-text {
          width: 40%;
          margin-left: 40%;
        }
        .feature-point {
          display: flex;
          -webkit-align-items: center;
                  align-items: center;
          top: 55%;
          left: 10%;
          .point-text {
            background: url(../img/bubble-pants.svg) no-repeat center center/contain;
            // width: 55%;
            width: 21.5vw;
          }
        }
      }
    }
  }
  .steam-treatment-block {
    background: #888FA3;
    padding: 20px;
    .steam-treatment-inner {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      .steam-treatment-img-col {
        width: 57.5%;
      }
      .steam-treatment-content-col {
        width: 35%;
        color: #FFF;
        
        .steam-treatment-title {
          font-size: 4vw;
          line-height: 1.08;
          margin-bottom: 1.25vw;
        }
        .steam-treatment-text {
          font-size: 1.5vw;
          line-height: 1.25;
          width: 65%;
          p {
            margin-bottom: 1.875vw;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .gallery-block {
    padding: 30px 0 0;
    
    .gallery-title {
      font-size: 3.75vw;
      margin-bottom: 60px;
      text-align: center;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
      img {
        width: 18.75vw;
        height: 5.375vw;
        display: inline-flex;
      }
    }
    .gallery-inner {
      // width: 98%;
      // margin-left: 2%;
      // display: flex;
      // -webkit-justify-content: space-between;
      //         justify-content: space-between;
      // -webkit-align-content: space-between;
      //         align-content: space-between;
      .gallery-item-inner {
        position: relative;
        cursor: pointer;
        &>img {
          width: 100%;
        }
        &:hover {
          .play {
            -webkit-transform: translate(-50%,-50%) scale(1.05);
               -moz-transform: translate(-50%,-50%) scale(1.05);
                -ms-transform: translate(-50%,-50%) scale(1.05);
                 -o-transform: translate(-50%,-50%) scale(1.05);
                    transform: translate(-50%,-50%) scale(1.05);
          }
        }
        .play {
          z-index: 1;
          position: absolute;
          left: 50%;
          max-width: 60px;
          top: 50%;
          -webkit-transition: 0.3s;
             -moz-transition: 0.3s;
              -ms-transition: 0.3s;
               -o-transition: 0.3s;
                  transition: 0.3s;
          -webkit-transform: translate(-50%,-50%);
             -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
               -o-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
        }
      }
      .gallery-main {
        position: relative;
        #player,
        iframe {
          top: 0;
          left: 0;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
        }
        &.gallery-single {
          width: 100%;
          .gallery-item-inner {
            .play {
              width: 6%;
              top: 55%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .gallery-list {
        padding-bottom: 1vw;
        margin-top: 2vw;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        .gallery-item {
          // display: flex;
          // -webkit-flex-direction: column;
          //     -ms-flex-direction: column;
          //         flex-direction: column;
          width: 18%;
          .gallery-text {
            width: 95%;
            margin-top: 0.7vw;
            text-align: center;
            font-size: 1.5vw;
            line-height: 1.25;
            margin: auto;
            color: #FFF;
          }
          .play {
            width: 30px;
          }
          &.big {
            width: 100%;
            .play {
              width: 40px;
            }
          }
        }
      }
    }
  }
  .wtb-block {
    padding: 25px 0;
    .wtb-inner {
      background: rgb(242,242,242);
      background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
      display: flex;
      -webkit-align-items: flex-start;
              align-items: flex-start;
    }
    .wtb-col {
      width: 50%;
    }
    .products-list {
      display: flex;
      -webkit-justify-content: space-around;
              justify-content: space-around;
      .product-item {
        width: 40%;
        .product-model {
          color: #000;
          text-decoration: none;
          display: block;
          font-size: 16px;
          margin-top: 24px;
          &:hover {
            text-decoration: underline;
          }
        }
        .product-features {
          color: #000;
          text-decoration: none;
          display: block;
          margin-top: 20px;
          &:hover {
            text-decoration: underline;
          }
          ul {
            list-style-type: none;
            padding: 0;
            li {
              position: relative;
              padding: 2px 0 2px 10px;
              font-size: 16px;
              &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 8px;
                width: 3px;
                height: 3px;
                -webkit-border-radius: 3px;
                        border-radius: 3px;
                background: #333;
              }
            }
          }
        }
      }
    }
  }
 .section-filters-bar {
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 30px;
    .filters {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
    }
    .filter-item {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
          margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      .filter-text {
        color: #333;
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .filters-prod-qn {
      font-size: 24px;
      display: flex;
      -webkit-align-items: flex-end;
              align-items: flex-end;
      .filters-available {
        font-size: 30px;
        color: #333;
      }
      .filters-total {
        font-size: 24px;
        color: #333;
      }
    }
    .tab {
      color: $lg;
      position: relative;
      font-size: 14px;
      vertical-align: middle;
      margin-right: 20px;
      &:before  {
        content: "";
        width: 20px;
        height: 20px;
        vertical-align: middle;
        display: inline-block;
        border: 1px solid #333;
        background: rgb(255, 255, 255);
        -webkit-border-radius: 3px;
                border-radius: 3px;
        margin-right:5px;
      }
      &.act-filter {
        &:before {
          background: rgb(255, 255, 255) url(../img/check.svg) no-repeat center center/70% 70%;
        }
      }
    }
    select {
      display: inline-block;
      border: none;
      background: rgb(255, 255, 255) url(../img/select-arrow.png)no-repeat right 5px center;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      padding: 3px 20px 3px 10px;
      -webkit-appearance: none;
         -moz-appearance: none;
          -ms-appearance: none;
              appearance: none;
      font-size: 14px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    .reset {
      font-size: 16px;
      padding: 8px 20px;
      cursor: pointer;
    }
  }
  .styler-compare {
    position: relative;
	  position: relative;
	  max-width: 1200px;
	  margin: auto;
    .styler-compare-title {
      font-size: 2.25vw;
      width: 100%;
      text-align: center;
      left: 0;
      margin-top: 3vw;
      margin-bottom: 2vw;
      z-index: 1;
    }
    .styler-compare-inner {
      display: flex;
      .styler-compare-col {
        position: relative;
	    background-repeat: no-repeat;
		  background-size: cover;
		  background-position: bottom;


		  @media screen and (max-width: 767px) {
			  margin-bottom: 17vw;
			  background-size: contain;
			  background-position: center;
		  }

		  &-title {
			  text-align: center;
			  margin-top: 3vw;

			  img {
				  margin: auto;
			  }
		  }
		  &-undertitle {
			  font-weight: 300;
			  font-size: 20px;
			  line-height: 1;
			  text-align: center;
			  color: #2f2f2f;
			  margin-top: 0.7vw;

			  @media screen and (max-width: 480px) {
				  font-size: 16px;
			  }
		  }
		  &-text {
			  font-weight: 300;
			  font-size: 20px;
			  line-height: 1.2;
			  text-align: center;
			  color: #2f2f2f;
			  margin-top: 0.95vw;

			  @media screen and (max-width: 480px) {
				  font-size: 16px;
			  }
		  }
		  &-imgs {
			  margin-top: 2vw;
			  position: relative;
			  top: 21px;
			  img {
				  margin: auto;

				  &.hover-img {
					  position: absolute;
					  bottom: -18px;
					  left: 38px;
					  right: 0;
					  margin: auto;
					  cursor: pointer;
					  opacity: 0;
					  -webkit-transition: 0.5s;
					  -moz-transition: 0.5s;
					  -ms-transition: 0.5s;
					  -o-transition: 0.5s;
					  transition: 0.5s;
					  &:hover {
						  opacity: 1;
					  }

					  &-1 {
						  bottom: -11px;
					  }

					  &-2 {
						  left: 0;
					  }
				  }
			  }
		  }
        width: 33.3333%;
      }
    }
    
  }
  .product-section {
    padding: 80px 0;
    max-width: 980px;
    width: 90%;
    margin: auto;
    display: flex;
    // -webkit-align-items: center;
    //         align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    .product-lists {
      .owl-nav {
        display: block;
        position: absolute;
        top: 50%;
        width: calc(100% + 80px);
        left: -30px;
        .owl-next,
        .owl-prev {
          width: 20px;
          height: 40px;
          position: absolute;
          top: 50%;
          cursor: pointer;
          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
               -o-transform: translateY(-50%);
                  transform: translateY(-50%);
          -webkit-transition: 0.3s;
             -moz-transition: 0.3s;
              -ms-transition: 0.3s;
               -o-transition: 0.3s;
                  transition: 0.3s;
          will-change: transform;
          &:hover {
            -webkit-transform: scale(1.05) translateY(-50%);
               -moz-transform: scale(1.05) translateY(-50%);
                -ms-transform: scale(1.05) translateY(-50%);
                 -o-transform: scale(1.05) translateY(-50%);
                    transform: scale(1.05) translateY(-50%);
          }
          &:active {
            -webkit-transform: scale(0.95) translateY(-50%);
               -moz-transform: scale(0.95) translateY(-50%);
                -ms-transform: scale(0.95) translateY(-50%);
                 -o-transform: scale(0.95) translateY(-50%);
                    transform: scale(0.95) translateY(-50%);
          }
        }
        .owl-next {
          right: 0;
          background: url(../img/next.png)no-repeat center center/contain;
          
        }
        .owl-prev {
          left: 0;
          background: url(../img/prev.png)no-repeat center center/contain;
        }
      }
      width: 100%;
      // display: flex;
      // -webkit-flex-wrap: wrap;
      //     -ms-flex-wrap: wrap;
      //         flex-wrap: wrap;
      // -webkit-justify-content: space-between;
      //         justify-content: space-between;
      .product-item {
        width: 90%;
        margin: auto;
        img {
          margin: auto;
        }
        .catalog-list {
          margin-top: 15px;
          font-size: 14px;
          height: 140px;
        }
        ul {
          li {
            position: relative;
            padding: 2px 0 2px 10px;
            font-size: 14px;
            &:before {
              content: " ";
              position: absolute;
              left: 0;
              top: 8px;
              width: 3px;
              height: 3px;
              background: #333;
            }
          }
        }
        .model-num {
          a {
            color: #333;
            font-size: 16px;
            margin-top: 10px;
          }
          margin-bottom: 20px;
        }
        .price {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 10px;
          height: 20px;
          color: $lg;
          font-family: lg_smartbold;
          display: flex;
          -webkit-align-items: center;
                  align-items: center;
          .price-info {
            margin-left: 10px;
          position: relative;
          .tooltip-button {
            display: block;
            position: relative;
            width: 16px;
          }
          .tooltip {
            display: none;
            position: absolute;
            top: auto;
            bottom: 25px;
            right: -95px;
            width: auto;
            padding: 19px 19px 17px;
            border-radius: 5px;
            background: #fff;
            font-size: 14px;
            z-index: 1;
            border: 1px solid #a5a5a5;
            line-height: normal;
            color: #333;
            width: 200px;
          }
          .tooltip-button:hover:after,
          .tooltip-button:hover:before {
            content: "";
            position: absolute;
            left: 50%;
            width: 0;
            height: 0;
            border: solid transparent;
            margin-left: -12px;
            border-width: 12px 12px 0;
            border-color: rgba(243,243,243,0);
            z-index: 3;
          }
          .tooltip-button:hover:before {
            border-top-color: #a5a5a5;
            top: -10px;
          }
          .tooltip-button:hover:after {
            top: -11px;
            border-top-color: #fff;
          }
          .tooltip-button:hover + .tooltip {
              display: block;
          
          }
        }
        }
        .btn {
          display: block;
          text-align: center;
          text-decoration: none;
          padding: 9px 15px 6px;
          -webkit-border-radius: 6px;
                  border-radius: 6px;
          font-size: 18px;
          line-height: 18px;
          background-color: #a50034;
          color: #FFF;
          -webkit-transition: 0.3s;
             -moz-transition: 0.3s;
              -ms-transition: 0.3s;
               -o-transition: 0.3s;
                  transition: 0.3s;
        }
        .buy-now {
          display: none;
        }
      }
    }
    .slider-col {
      width: 43%;
      padding: 0 2%;

		@media screen and (max-width: 767px) {
			padding: 0 9%;
		}

      .slider {
        display: none;
        &.active {
          display: block;
        }
      }
      .owl-nav {
        display: block;
        position: absolute;
        top: 50%;
        width: calc(100% + 60px);
        left: -30px;
        &.disabled {
          display: none;
        }
        .owl-next,
        .owl-prev {
          width: 20px;
          height: 30px;
          position: absolute;
          top: 50%;
          cursor: pointer;
          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
               -o-transform: translateY(-50%);
                  transform: translateY(-50%);
          -webkit-transition: 0.3s;
             -moz-transition: 0.3s;
              -ms-transition: 0.3s;
               -o-transition: 0.3s;
                  transition: 0.3s;
          will-change: transform;
          &:disabled {
            display: none;
          }
          &:hover {
            -webkit-transform: scale(1.05) translateY(-50%);
               -moz-transform: scale(1.05) translateY(-50%);
                -ms-transform: scale(1.05) translateY(-50%);
                 -o-transform: scale(1.05) translateY(-50%);
                    transform: scale(1.05) translateY(-50%);
          }
          &:active {
            -webkit-transform: scale(0.95) translateY(-50%);
               -moz-transform: scale(0.95) translateY(-50%);
                -ms-transform: scale(0.95) translateY(-50%);
                 -o-transform: scale(0.95) translateY(-50%);
                    transform: scale(0.95) translateY(-50%);
          }
        }
        .owl-next {
          right: 0;
          background: url(../img/next.png)no-repeat center center/contain;
          
        }
        .owl-prev {
          left: 0;
          background: url(../img/prev.png)no-repeat center center/contain;
        }
      }
    }
    .content-col {
      width: 50%;
      padding-top: 6vw;
      .tab-title {
        color: #000;
        font-size: 3.5vw;
        margin-bottom: 20px;
        font-family: lg_smartbold;
        img {
          width: 16vw;
          max-width: 295px;
          height: 4.6525vw;
          max-height: 84.5px;
        }
      }
      .tabs-models {
        display: flex;
		  margin-bottom: 1.5vw;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        .tab-model {
          	width: 32%;
			font-weight: 300;
			font-size: 12px;
			line-height: 21px;
          	text-align: center;
         	cursor: pointer;
			margin-right: 10px;
			padding: 1vw 2vw;
			display: flex;
			align-items: center;
			border-radius: 20px;
			border: 1px solid #A50034;
			box-sizing: border-box;
			transition: 0.3s;

			@media screen and (max-width: 767px) {
				padding: 2vw 4vw;
			}

			&-info {
				margin-left: 1vw;

				@media screen and (max-width: 767px) {
					margin-left: 2vw;
				}
			}

			&-img {
				img {
					width: 16px;
					height: 54px;
					max-width: none;

					@media screen and (max-width: 767px) {
						width: 8px;
						height: 27px;
					}

					&.S3RERB {
						width: 13px;

						@media screen and (max-width: 767px) {
							width: 6px;
							height: 27px;
						}
					}
				}
			}

			&.active {
				background: #f4f4f4;
				border: 1px solid transparent;
			}

          .tab-img {
            display: block;
          }
          .active-img {
            display: none;
          }
          &.active {
          color: #000;
            cursor: default;
            // border-color: $lg;
            .tab-img {
              display: none;
            }
            .active-img {
              display: block;
            }
          }
        }
      }
      .tab-color {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
        display: flex;
        &.S3RERB {
          display: none;
        }
        .color-item {
          display: flex;
          -webkit-align-items: center;
                  align-items: center;
          cursor: pointer;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            cursor: default;
            .color-text {
              color: #666;
              font-family: lg_smartbold;
            }
            .color {
              border: 3px solid $lg;
            }
          }
        }
        .color {
          width: 44px;
          height: 44px;
          margin-right: 15px;
          border: 3px solid transparent;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          &.white {
            border: 3px solid #D6D6D6;
          }
        }
        .color-text {
              color: #0B0B0B;
              font-family: lg_smartlight;
            }
      }
      .tab-model-button {
        color: #0B0B0B;
        // border-bottom: 1px solid #0B0B0B;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 40px;
      }
      .features {
        margin-top: 20px;
        list-style-type: none;
        margin-bottom: 30px;
        // .plus {
        //   display: none;
        // }
        li {
          position: relative;
          padding-left: 20px;
          font-size: 18px;
          margin-bottom: 10px;
          &:before {
            content: "●";
            // content: "";
            line-height: 1.8;
            font-size: 14px;
            color: #0B0B0B;
            position: absolute;
            left: 0;
            top: 0;
            
          }
        }
      }
      .shops {
        // width: 80%;
        width: 333px;
        // padding-bottom: 30px;
        margin-bottom: 10px;
        // border-bottom: 1px solid #999;
        
        .shops-text {
          font-size: 23px;
          font-family: lg_smartlight;
          margin-bottom: 25px;
          display: flex;
          -webkit-align-items: center;
                  align-items: center;
        }
        .price-text {
          margin-right: 5px;
          &.S3RERB,
		  &.S5BB {
            display: none;
          }
        }
        .price-info {
          position: relative;
          .tooltip-button {
            display: block;
            position: relative;
          }
          .tooltip {
            display: none;
            position: absolute;
            top: auto;
            bottom: 30px;
            right: -70px;
            width: auto;
            padding: 19px 19px 17px;
            border-radius: 5px;
            background: #fff;
            font-size: 16px;
            z-index: 1;
            border: 1px solid #a5a5a5;
            line-height: normal;
            color: #333;
            width: 300px;
          }
          .tooltip-button:hover:after,
          .tooltip-button:hover:before {
            content: "";
            position: absolute;
            left: 50%;
            width: 0;
            height: 0;
            border: solid transparent;
            margin-left: -12px;
            border-width: 12px 12px 0;
            border-color: rgba(243,243,243,0);
            z-index: 3;
          }
          .tooltip-button:hover:before {
            border-top-color: #a5a5a5;
            top: -10px;
          }
          .tooltip-button:hover:after {
            top: -11px;
            border-top-color: #fff;
          }
          .tooltip-button:hover + .tooltip {
              display: block;
          
          }
        }
        .shops-list {
          list-style-type: none;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-justify-content: flex-start;
                  justify-content: flex-start;
          li {
            width: 25%;
            text-align: center;
            margin-bottom: 15px;
            padding: 10px;
            
            
            a {
              width: 100%;
              will-change: transform;
              display: inline-block;
              border: 1px solid transparent;
              -webkit-transition: 0.3s;
                 -moz-transition: 0.3s;
                  -ms-transition: 0.3s;
                   -o-transition: 0.3s;
                      transition: 0.3s;
              -webkit-border-radius: 3px;
                      border-radius: 3px;
              img {
                will-change: transform;
                -webkit-transition: 0.3s;
                   -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                     -o-transition: 0.3s;
                        transition: 0.3s;
              }
              &:hover {
                border: 1px solid $lg;
                  -webkit-transform: scale(1.1);
                     -moz-transform: scale(1.1);
                      -ms-transform: scale(1.1);
                       -o-transform: scale(1.1);
                          transform: scale(1.1);
              }
            }
          }
        }
      }
      .price-block {
        .price {
          float: left;
          font-size: 54px;
          color: #000;
          width: 50%;
          line-height: 0.8;
          
        }
        .button-wrp {
          // width: 50%;
          margin-bottom: 25px;
          
          .button {
            display: block;
            text-align: center;
            font-size: 18px;
            padding: 5px;
          }
        }
      }
    }
  }
  .disclamer-block {
    text-align: center;
    font-size: 16px;
    color: #505050;
    margin-top: 27px;
    line-height: 1;
    margin-bottom: 27px;
  }
}
.no-products {
  color: #666;
  font-size: 24px;
  text-align: center;
  padding: 100px 0;
  width: 90%;
  margin: auto;
  display: none;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}
.popup-close {
  position: fixed;
  right: calc(9% - 32px);
  top: calc(9% - 32px);;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
  display: none;
}
.video-popup {
  display: flex;
  display: none;
  position: fixed;
  z-index: 3;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  .video-wrapper {
    width: 100%;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
.popup-tech {
  display: flex;
  display: none;
  position: fixed;
  z-index: 3;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  .popup-tech-inner {
    height: calc(100% - 50px);
    width: 100%;
  }
  .popup-title {
      margin: 20px auto;
      font-size: 30px;
      color: #ccc;
      text-align: center;
    }
  .mCSB_dragger {
    left: 2px;
    width: 12px !important;
    background: #ccc;
    height: 12px !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
  }
   .mCSB_draggerRail {
    background: #808080 !important;
  }
   .header-popup-table-wrap {
    position: relative;
    text-align: right;
    // max-width: 880px;
    overflow: hidden;
    // width: 90%;
    margin: 20px auto 50px;
  }
   .header-popup-table-wrap .button-wrp {
    position: relative;
  }
   .header-popup-table-wrap th:first-child {
    width: 504px;
  }
   .header-popup-table-wrap .model {
    max-width: 115px;
    padding: 0 10px;
  }
   .full {
    color: #ccc;
    text-decoration: underline;
    display: inline-block;
  }
   .popup-table-wrap {
    // max-width: 880px;
    overflow: hidden;
    // width: 90%;
    margin: auto;
    height: calc(100% - 120px);
  }
   .popup-table-wrap .tech-table {
    border: none;
    text-align: center;
    font-size: 24px;
    color: #ccc;
    width: 100%;
  }
   .popup-table-wrap .tech-table td {
    padding-bottom: 15px;
    color: #ccc;
    vertical-align: middle;
  }
   .popup-table-wrap .tech-table td:first-child,
   .popup-table-wrap .tech-table th:first-child {
    text-align: left;
    color: #ccc;
  }
   .popup-table-wrap .tech-table .color-wrap {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ccc;
    padding: 2px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0 2px;
  }
   .popup-table-wrap .tech-table .color {
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
   .popup-table-wrap .tech-table .color.black {
    background: #141C31;
  }
   .popup-table-wrap .tech-table .color.darkblue  {
    background: #014A6B;
  }
   .popup-table-wrap .tech-table .color.gray {
    background: #9397A0;
  }
   .popup-table-wrap .tech-table .model {
    max-width: 235px;
    // padding: 0 10px;
    color: #FFF;
  }
   .popup-table-wrap .tech-table .char-title {
    text-transform: uppercase;
    font-size: 24px;
    color: #808080;
    margin-bottom: 40px;
  }
   .popup-table-wrap .tech-table .yes {
    display: inline-block;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #CCC;
  }
   .popup-table-wrap .tech-table .no {
    font-size: 24px;
    color: #FFF;
  }
}
/****animation***/
.section-wrap .features-block .feature-item .feature-content-col .feature-content {
  opacity: 0;
  -webkit-transition:  0.6s;
     -moz-transition:  0.6s;
      -ms-transition:  0.6s;
       -o-transition:  0.6s;
          transition:  0.6s;
  // margin-top: -10%;
  z-index: 1;
}
.section-wrap .features-block .feature-item.right .feature-content-col .feature-content {
  // margin-right: -30%;
  opacity: 1;
}
.section-wrap .features-block .feature-item.left .feature-content-col .feature-content {
  // margin-left: -30%;
  opacity: 1;
}
.section-wrap .features-block .feature-item .feature-content-col .feature-content.animated {
  margin-top: 0;
  opacity: 1;
}
.section-wrap .features-block .feature-item.right .feature-content-col .feature-content.animated {
  margin-right: 0;
  opacity: 1;
}
.section-wrap .features-block .feature-item.left .feature-content-col .feature-content.animated {
  margin-left: 0;
  opacity: 1;
}

.section-wrap .features-block .feature-item.feature-1 .prod,
.section-wrap .features-block .feature-item.feature-2 .prod,
.section-wrap .features-block .feature-item.feature-2 .prod-1,
.section-wrap .features-block .feature-item.feature-3 .prod,
.section-wrap .features-block .feature-item.feature-4 .prod,
.section-wrap .features-block .feature-item.feature-5 .prod,
.section-wrap .features-block .feature-item.feature-6 .prod {
  // opacity: 0;
  // right: 0;
  // top: 0;
  // right: -50%;
  -webkit-transition:  0.6s;
     -moz-transition:  0.6s;
      -ms-transition:  0.6s;
       -o-transition:  0.6s;
          transition:  0.6s;
}
.section-wrap .features-block .feature-item.feature-4 .prod,
.section-wrap .features-block .feature-item.feature-1 .prod,
.section-wrap .features-block .feature-item.feature-3 .prod{
  // right: 50%;
  // right: 0;
}
.section-wrap .features-block .feature-item.feature-1 .prod.animated,
.section-wrap .features-block .feature-item.feature-2 .prod.animated,
.section-wrap .features-block .feature-item.feature-2 .prod-1.animated,
.section-wrap .features-block .feature-item.feature-3 .prod.animated,
.section-wrap .features-block .feature-item.feature-5 .prod.animated,
.section-wrap .features-block .feature-item.feature-6 .prod.animated {
  // right: 0;
  opacity: 1;
}
.section-wrap .features-block .feature-item.feature-4 .prod,
.section-wrap .features-block .feature-item.feature-4 .prod.animated {
  // right: -37%;
  opacity: 1;
}

.u-animate,
.animate {
  opacity: 0;
  top: -10vw;
  position: relative;
  -webkit-transition:  0.6s;
     -moz-transition:  0.6s;
      -ms-transition:  0.6s;
       -o-transition:  0.6s;
          transition:  0.6s;
}
.point-text.animate {
  top: 0;
  left: 0;
  -webkit-transition: ease 1.5s;
     -moz-transition: ease 1.5s;
      -ms-transition: ease 1.5s;
       -o-transition: ease 1.5s;
          transition: ease 1.5s;
}
.u-animate-left,
.animate-left {
  left: -10vw;
  opacity: 0;
  top: 0;
}
.u-animate-right,
.animate-right {
  right: -10vw;
  opacity: 0;
  top: 0;
}
.u-animate-right.u-animated,
.animate-right.animated {
  right: 0;
  
}
.u-animate-left.u-animated,
.animate-left.animated {
  left: 0;
  
}
.u-animate.u-animated,
.animate.animated {
  opacity: 1;
  top: 0;
}
/****animation***/


@media(min-width:1601px) {
  .banner-wrap .banner-main .parallax {
    transition: all 0.8s ;
    top: 0px;
  }
    .banner-wrap .banner-main .parallax.top-a {
    transition: all 0.8s ;
    top: -80px;
  }
  .button {
    font-size: 28px;
    padding: 8px 40px;
  }
  .nav-text {
  font-size: 32px;
  margin: 80px auto 32px;
  padding: 24px 0;
  text-align: center;
  .bold {
    font-family: lg_smartbold;
  }
}
.nav-more {
  font-size: 32px;
  margin: 80px auto 32px;
  text-align: center;
}
  .section-wrap .content-block .content-block-inner {
    padding-left: 54.4px;
  }
  .section-wrap .content-block .content-title {
    font-size: 60px;
  }
  .section-wrap .content-block .content-text {
    margin-top: 123px;
  }
  .banner-wrap .banner-main .banner-text .banner-slogan {
    font-size: 48px;
  }
  .banner-wrap .banner-main .banner-text .banner-slogan .subslogan {
      margin-top: 16px;
      font-size: 32px;
    }
  .section-wrap .content-block .truesteam-subline {
    font-size: 36px;
  }
  .section-wrap .content-block .content-logo {
    width: 295px;
    height: 84.5px;
  }
  .section-wrap .content-block .content-col.big {
    font-size: 40px;
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-content {
    top: 60px;
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-content .feature-title {
    font-size: 43px;
    margin-bottom: 18px;
  }
  .section-wrap .features-block .feature-item.feature-6 .feature-content-col .feature-content .feature-title {
    max-width: 280px;
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-content .feature-text {
    font-size: 22.4px;
  }
  .section-wrap .features-block .feature-item .feature-img-col .feature-point .point-text {
    font-size: 24px;
    padding: 19px 32px 19px 48px;
  }
  .section-wrap .features-block .feature-item.feature-1 .feature-img-col .feature-point .point-text {
    font-size: 24px;
    padding: 19px 32px 19px 40px;
  }
  .section-wrap .features-block .feature-item.feature-1 .feature-text {
    width: 224px;
  }
  .section-wrap .features-block .feature-item.feature-2 .feature-text {
    width: 288px;
  }
  .section-wrap .features-block .feature-item .feature-img-col .feature-point .point-img {
    width: 80px;
  }

  .section-wrap .features-block .feature-item.feature-1 .feature-point .point-text {
    width: 304px;
  }
  .section-wrap .features-block .feature-item.feature-2 .feature-point .point-text {
    width: 320px;
  }
  .section-wrap .features-block .feature-item.feature-3 .feature-point .point-text {
    width: 416px;
  }
  .section-wrap .features-block .feature-item.feature-4 .feature-point .point-text {
    width: 384px;
  }
  .section-wrap .features-block .feature-item.feature-5 .feature-point .point-text {
    width: 384px;
  }
  .section-wrap .features-block .feature-item.feature-6 .feature-point .point-text {
    width: 344px;
  }
  // .section-wrap .features-block .feature-item.feature-5 .feature-content-col .prod img {
  //   top: 68px;
  // }
  // .section-wrap .features-block .feature-item.feature-3 .feature-content-col .prod img {
  //   top: -48px;
  // }
  .section-wrap .gallery-block .gallery-inner .gallery-list {
    margin-top: 32px;
    padding-bottom: 16px;
  }
  .section-wrap .gallery-block .gallery-inner .gallery-list .gallery-item .gallery-text {
    font-size: 24px;
    margin-top: 11px;
  }
  .section-wrap .steam-treatment-block .steam-treatment-inner .steam-treatment-content-col .steam-treatment-title {
    font-size: 64px;
    margin-bottom: 20px;
  }
  .section-wrap .steam-treatment-block .steam-treatment-inner .steam-treatment-content-col .steam-treatment-text p {
    margin-bottom: 30px;
  }
  .section-wrap .gallery-block .gallery-title {
    font-size: 60px;
  }
  .section-wrap .gallery-block .gallery-title img {
    width: 300px;
    height: 86px;
  }
  .section-wrap .gallery-block .gallery-inner .gallery-main {
    margin-top: 64px;
  }
  .banner-wrap .banner-bottom .banner-bottom-content .banner-bottom-text {
    font-size: 60px;
  }
  .product-section {
    .content-col {
      padding-top: 96px;
    }
  }
  .product-section {
    .content-col {
      .tab-title {
        font-size: 56px;
      }
    }
  }
  .section-wrap .product-section .content-col .features li,
  .section-wrap .product-section .content-col .tab-color .color-item.active .color-text {
    font-size: 18px;
  }
  .styler-compare {
    .styler-compare-title {
      font-size: 36px;
      top: 48px;
    }
  }
  .section-wrap .styler-compare .styler-compare-title {
    font-size: 36px;
  }
}
@media(min-width:1778px) {
  .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner .real-bg .real-bg-img {
    width: 714px;
    height: 651px;
    left: -32.5px;
    top: -29.6px;
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner:hover .real-bg {
    width: 714px;
    height: 651px;
    left: -32.5px;
    top: -29.6px;
  }

  // .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner .real-bg {
  //   width: 584px;
  //   height: 532px;
  // }
 // .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner:hover .real-bg .real-bg-img {
 //    width: 643px;
 //    height: 586.24px;
 //    left: -29.25px;
 //    top: -26.72px;
 //  }
}
@media(max-width:1280px) {
  .section-wrap .section-filters-bar .filters {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
      -webkit-align-items: flex-start;
              align-items: flex-start;
    .filter-item,
    .tab {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .section-wrap .section-filters-bar .filter-item .filter-text {
    width: 95px;
  }
  .section-wrap .section-filters-bar select {
    width: 160px;
  }
}
@media(max-width:1080px) {
  .section-filters-bar-outer {
    margin-top: 40px;
  }
  .section-wrap .features-block {
    padding-top: 40px;
  }
  .section-wrap .content-block .content-text {
    margin-top: 0;
  }
  .section-wrap .content-block .content-block-inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .section-wrap .content-block .content-col {
    width: 47%;
  }
  .section-wrap .content-block .content-col.title-col {
    width: 100%;
    margin-bottom: 30px;
  }
  .section-wrap .content-block .content-logo {
    margin-bottom: 15px;
  }
  .section-wrap .wtb-block .products-list .product-item .product-features ul li {
    font-size: 12px;
  }
  .nav-block .nav-col.styler-col .nav-col-logo {
    width: 140px;
    height: 40px;
  }
  .nav-block .nav-col.truesteam-col .nav-col-logo {
    width: 220px;
    height: 38px;
  }

  .nav-block .nav-col .nav-col-text {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width:767px) {
  .section-wrap .section-filters-bar {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
      .filters {
        margin: 10px auto 30px;
      }
  }
  .nav-block {
    padding-left: 5%;
    padding-right: 5%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    .nav-col {
      width: 50%;
      &.styler-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding-right: 5%;
      }
      &.truesteam-col {
        padding-left: 5%;
      }
    }
    .switch {
      padding-top: 3vw;
      -webkit-order: 2;
          -ms-order: 2;
              order: 2;
      // width: 50%;
      // max-width: 200px;
      // &.wm-switch {
        margin-left: 6%;
      // }
    }
  }
  .nav-text {
    font-size: 4vw;
    width: 80%;
  }
  .nav-more{
    font-size: 4vw;
  }
  .nav-block .nav-col .nav-col-text {
    font-size: 18px;
  }
  .nav-block .nav-col.styler-col .nav-col-logo {
    width: 72%;
    margin-top: 5px;
    margin: auto;
    height: auto;
    max-width: 130px;
  }
  .nav-block .nav-col.truesteam-col .nav-col-logo {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
  .desk {
    display: none !important;
  }
  .mob {
    display: block !important;
  }
  .banner-wrap .banner-main .banner-text .banner-logo {
    width: 60%;
    margin: auto;
  }
  .banner-wrap .banner-main .banner-text {
    top: 7%;
    left: 22%;
    width: 56%;
    text-align: center;
  }
  .banner-wrap .banner-main .banner-text .banner-slogan {
    font-size: 5vw;
    text-align: center;
  }
  .banner-wrap .banner-main .banner-text .banner-slogan .subslogan {
    font-size: 4vw;
    margin-top: 2vw;
  }
  .banner-wrap .banner-main .banner-button-outer .banner-button {
    font-size: 16px;
    padding: 5px 18px;
    right: 2.5%;
    left: auto;
  }
  .section-wrap .features-block .feature-item.feature-4 .feature-title {
    width: 67%;
  }
  .section-wrap .product-section .content-col .features li:before {
    line-height: 1.9;
    font-size: 12px;
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner .real-bg {
    width: 72.1vw;
    height: 65.63vw;
    
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner .real-bg .real-bg-img {
    width: 79.31vw;
    height: 72.19vw;
    left: -3.605vw;
    top: -3.28vw;
  }
  .section-wrap .features-block .feature-item .feature-content-col .feature-col-inner:hover .real-bg {
    width: 79.31vw;
    height: 72.19vw;
    left: -3.605vw;
    top: -3.28vw;
  }
  .section-wrap {
    width: 95%;
    .content-block {
      padding: 20px 0 30px;
      width: 90%;
      margin: auto;
    }
    .content-block .content-logo {
      // max-width: 200px;
      width: 18.5vw;
      height: 5.275vw;
      display: none;
    }
    .content-block .content-col.title-col {
      margin-bottom: 20px;
    }
    .content-block .content-block-inner {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      -webkit-align-items: flex-start;
              align-items: flex-start;
    }
    .content-block .content-title {
      // font-size: 24px;
      font-size: 7vw;
    }
    .content-block .content-text {
      // font-size: 16px;
      font-size: 3.75vw;
    }
    .content-block .content-col.big {
      width: 100%;
      font-size: 6vw;
      padding: 0;
      text-align: center;
    }
    .features-block .feature-item {
      margin-bottom: 40px;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .features-block .feature-item.right .feature-content-col,
    .features-block .feature-item.left .feature-content-col {
      margin-top: -8vw;
      width: 76%;
      -webkit-order: 3;
          -ms-order: 3;
              order: 3;
    }
    .features-block .feature-item.left .feature-img-col {
      margin-left: -5%;
    }
    .features-block .feature-item.right .feature-img-col {
      margin-left: 5%;
    }
    .features-block .feature-item.left .feature-content-col {
      margin-left: 5%;
    }
    .features-block .feature-item.right .feature-content-col {
      margin-left: 18%;
    }
    .features-block .feature-item .feature-content-col .feature-content .feature-title {
      font-size: 5vw;
      margin-bottom: 2vw;
    }
    .features-block .feature-item .feature-content-col .feature-content .feature-text {
      font-size: 3.1vw;
    }
    .features-block .feature-item.left .feature-img-col {
      // margin-left: 0;
      width: 100%;
    }

     .features-block .feature-item.feature-2 .feature-text {
       width: 33vw;
     }
    .features-block .feature-item.right .feature-img-col,
    .features-block .feature-item.left .feature-img-col {
      width: 100%;
      margin-top: 10px;
      -webkit-order: 2;
          -ms-order: 2;
              order: 2;
    }

    .features-block .feature-item .feature-img-col .feature-point {
      display: none;
    //   position: relative;
    //   top: 0;
    //   left: 0;
    }
    .features-block .feature-item .feature-img-col .feature-point .point-img {
      width: 8vw;
    }
    .section-wrap .features-block .feature-item.feature-2 .feature-title {
      width: 68%;
    }
    .features-block .feature-item.feature-1 .feature-point {
      top: 9%;
      left: 5%;
    }
    .features-block .feature-item.feature-3 .feature-point {
      top: 50%;
      left: 12%;
    }
    .features-block .feature-item.feature-4 .feature-point {
      left: 4%;
      top: 3%;
    }
    .features-block .feature-item.feature-5 .feature-point {
      left: 20%;
      top: 52%;
    }
    .features-block .feature-item.feature-6 .feature-point {
      left: 26%;
      top: 31%;
    }
    .features-block .feature-item.feature-4 .feature-text {
      width: 49%;
    }
    .features-block .feature-item.feature-1 .feature-text {
      width: 47%;
    }
    .features-block .feature-item.feature-1 .feature-point .point-text,
    .features-block .feature-item.feature-2 .feature-point .point-text,
    .features-block .feature-item.feature-3 .feature-point .point-text,
    .features-block .feature-item.feature-5 .feature-point .point-text,
    .features-block .feature-item.feature-6 .feature-point .point-text,
    .features-block .feature-item.feature-4 .feature-point .point-text {
      font-size: 3.7vw;
    }
    .features-block .feature-item.feature-1 .feature-img-col .feature-point .point-text {
      // background: url(../img/cloth-wrap-small-mob.svg) no-repeat center center/contain;
      width: 46vw;
    }
    .features-block .feature-item.feature-2 .feature-img-col .feature-point .point-text {
      // background: url(../img/cloth-wrap-small-mob.svg) no-repeat center center/contain;
      padding: 3.2vw 5vw 3.2vw 5vw;
      width: 45vw;
    }
    .features-block .feature-item.feature-6 .feature-img-col .feature-point .point-text {
      width: 49vw;
    }
    .features-block .feature-item.feature-5 .feature-img-col .feature-point .point-text {
      width: 54vw;
      // padding: 4vw 5vw 4vw 5vw;
      // background: url(../img/cloth-wrap-small-mob.svg) no-repeat center center/contain;
    }
    .features-block .feature-item.feature-3 .feature-img-col .feature-point .point-text {
      // background: url(../img/cloth-wrap-small.svg) no-repeat center center/contain;
      width: 60vw;
    }
    .features-block .feature-item.feature-4 .feature-img-col .feature-point .point-text {
      // background: url(../img/cloth-wrap-small.svg) no-repeat center center/contain;
      width: 55vw;
    }
    .features-block .feature-item .feature-img-col .feature-point .point-text {
      width: 38vw;
      padding: 3.2vw 5vw 3.2vw 5vw;
    }
    .steam-treatment-block .steam-treatment-inner {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .steam-treatment-block .steam-treatment-inner .steam-treatment-img-col,
    .steam-treatment-block .steam-treatment-inner .steam-treatment-content-col {
      width: 100%;
    }
    .steam-treatment-block .steam-treatment-inner .steam-treatment-content-col .steam-treatment-title {
      font-size: 24px;
    }
    .steam-treatment-block .steam-treatment-inner .steam-treatment-content-col .steam-treatment-text {
      width: 100%;
      font-size: 14px;
    }
    .gallery-block .gallery-inner {
      margin-left: 0;
      width: 100%;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .gallery-block .gallery-inner .gallery-main {
      margin-top: 0;
      width: 100%;
    }
    .gallery-block .gallery-inner .gallery-list {
      padding-bottom: 25px;
      .owl-dots {
        display: flex;
        width: 96%;
        margin: auto;
        margin-top: 2%;
        -webkit-justify-content: center;
                justify-content: center;
      }
      .owl-dot {
        margin-right: 15px;
        width: 14px;
        height: 14px;
        background: #666;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        cursor: pointer;
        &:hover,
        &.active {
          background: $lg;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .owl-nav {
        display: block;
        position: absolute;
        top: 38%;
        width: 100%;
        // left: -30px;
        .owl-next,
        .owl-prev {
          width: 15px;
          height: 25px;
          position: absolute;
          top: 50%;
          cursor: pointer;
          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
               -o-transform: translateY(-50%);
                  transform: translateY(-50%);
          -webkit-transition: 0.3s;
             -moz-transition: 0.3s;
              -ms-transition: 0.3s;
               -o-transition: 0.3s;
                  transition: 0.3s;
          will-change: transform;
          &:hover {
            -webkit-transform: scale(1.05) translateY(-50%);
               -moz-transform: scale(1.05) translateY(-50%);
                -ms-transform: scale(1.05) translateY(-50%);
                 -o-transform: scale(1.05) translateY(-50%);
                    transform: scale(1.05) translateY(-50%);
          }
          &:active {
            -webkit-transform: scale(0.95) translateY(-50%);
               -moz-transform: scale(0.95) translateY(-50%);
                -ms-transform: scale(0.95) translateY(-50%);
                 -o-transform: scale(0.95) translateY(-50%);
                    transform: scale(0.95) translateY(-50%);
          }
        }
        .owl-next {
          right: -20px;
          background: url(../img/next.png)no-repeat center center/contain;
          
        }
        .owl-prev {
          left: -20px;
          background: url(../img/prev.png)no-repeat center center/contain;
        }
      }
      width: 90%;
      margin: auto;
      display: block;
    }
    .gallery-block .gallery-inner .gallery-item-inner {
      margin-top: 20px;
      width: 100%;
      -webkit-justify-content: center;
              justify-content: center;
    }
    .gallery-block .gallery-inner .gallery-list .gallery-item.big .play {
      width: 70px;
    }
    .gallery-block .gallery-inner .gallery-list .gallery-item {
      width: 90%;
      margin: auto;
    }
    .gallery-block .gallery-inner .gallery-list .gallery-item .gallery-text {
      font-size: 4.2vw;
    }
    .gallery-block .gallery-title {
      font-size: 6vw;
      margin-bottom: 8vw;
      img {
        width: 30vw;
        height: 8.566vw;
      }
    }
    .wtb-block .wtb-inner {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      .wtb-col {
        width: 100%;
        &:first-child {
          padding-top: 20px;
        }
        &:last-child {
          margin-bottom: 20px;
          -webkit-order: -1;
              -ms-order: -1;
                  order: -1;
        }
      }
    }
    .gallery-block {
      padding: 40px 0 0;
    }
    .banner-bottom {
      // margin-bottom: 40px;
      .disclamer-block {
        margin-top: 13px;
        margin-bottom: 13px;
        font-size: 14px;
      }
      .button {
        font-size: 4vw;
        padding: 1vw 3.5vw;
      }
    }
    .product-section {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 0;
      -webkit-justify-content: center;
              justify-content: center;
      .slider-col {
        width: 100%;
        .slider {
          max-width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .content-col {
        width: 100%;
        max-width: 300px;
        margin: auto;
        &:last-child {
          margin-top: 30px;
        }
      }
    }
    .product-section .content-col .tab-title {
      font-size: 40px;
      max-width: 200px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .product-section .content-col .price-block .button-wrp {
      width: 100%;
      .button {
        // max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .product-section .content-col .features li {
      margin-bottom: 5px;
    }
    .product-section .content-col .tab-color .color {
      display: none;
    }
    .product-section .content-col .tab-model-button {
      font-size: 18px;
    }
    .product-section .content-col .shops .shops-text {
      font-size: 18px;
    }
    .product-section .content-col .shops {
      max-width: 333px;
      width: 100%;
    }
    .product-section .content-col .price-block .button-wrp .button {
      padding: 6px;
      font-size: 18px;
    }
    .product-section .content-col {
      .shops {
        .shops-list {
          -webkit-justify-content: center;
                  justify-content: center;
          li {
            width: 50%;
            a {
              img {
                margin: auto;
              }
            }
          }
        }
      }
    }
    .product-section .content-col .tab-color .color-item:not(.active) .color-text {
      color: $lg;
    }
  }
  .section-wrap .gallery-block .gallery-inner .gallery-item-inner .play {
    max-width: 50px;
  }
  .section-wrap .product-section {
    padding: 40px 0;
  }
  .section-wrap .product-section .content-col .shops .price-info .tooltip {
    right: -25px;
  }
  .popup-tech {
    .header-popup-table-wrap {
      margin-bottom: 20px;
    }
     .popup-table-wrap .tech-table {
      font-size: 16px;
    }
     .popup-table-wrap .tech-table td:first-child {
      width: 100%;
      padding-top: 10px;
    }
     .popup-table-wrap .tech-table td {
      display: inline-block;
      // width: 30%;
      max-width: 100%;
    }
     .popup-table-wrap .tech-table .model {
      padding: 0;
    }
     .header-popup-table-wrap th:first-child {
      display: none;
    }
     .full {
      position: static;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .section-wrap .styler-compare {
    .styler-compare-title {
      position: static;
      font-size: 6vw;
      margin: 5vw auto;
    }
    .styler-compare-inner {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
    }
  }
  .section-wrap .styler-compare .styler-compare-inner .styler-compare-col {
    width: 100%;
    // margin-bottom: 2vw;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media(max-width:480px) {
  .nav-block .nav-col .nav-col-text {
    font-size: 13px;
  }
  .section-wrap {
    .wrap-small {
      .banner-main {
        .banner-text {
          font-size: 20px;
          margin-top: 15px;
        }
      }
    }
  }
}

@-webkit-keyframes switchAnimWm {
  0% {
    left: 0;
  }
  10% {
    left: -2%;
  }
  20% {
    left: 2%;
  }
  30% {
    left: -2%;
  }
  40% {
    left: 2%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes switchAnimTw {
  0% {
    right: 0;
  }
  10% {
    right: -2%;
  }
  20% {
    right: 2%;
  }
  30% {
    right: -2%;
  }
  40% {
    right: 2%;
  }
  50% {
    right: 0;
  }
  100% {
    right: 0;
  }
}


.footer-cta {width:100%; background:#333; padding:10px 0;z-index: 2; }
.footer-cta.static {width:100%; }
.footer-cta.fixed {position:fixed; bottom:0; left:0; z-index:10; width:100%; }
.footer-cta ul {text-align:center; width: 95%; max-width: 991px; margin-left: auto;margin-right: auto; display: flex; -webkit-justify-content: center;justify-content: center; -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.footer-cta ul li {display:inline-block; margin:5px 0;  min-width: 140px; margin-right: 1.5%;margin-left: 1.5%;}
.footer-cta ul li:last-child {
  // margin-right: 0;
}
.footer-cta ul li a {display:block; -webkit-border-radius: 5px;border-radius: 2em; border:solid 1px #fff; color:#fff; height:30px; line-height:30px; font-size:11px; text-align:center; padding:0 10px; text-decoration: none; }

@media only screen and (min-width:768px) {
  .footer-cta {padding:15px 0; }
  .footer-cta ul li {margin:5px 1.5%; }
  .footer-cta ul li a {padding:0; padding-right: 10px; padding-left: 10px; height:34px; line-height:34px; font-size:16px;  }
}
@media only screen and (min-width:991px) {
  .footer-cta ul li {
    width: 30%;
  }
}
@media only screen and (min-width:1680px) {
  .footer-cta ul li a {height:40px; line-height:40px; }
}
