//= template/--head--
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#fff">

	<title>LG Styler — бережный уход за деликатными тканями — LG Россия</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="Узнайте больше о возможностях и характеристиках LG Styler — LG Россия. Где купить LG Styler в Москве, Санкт-Петербурге и в других регионах РФ на официальном сайте производителя.">
	<meta name="keywords" content="lg, styler">
	<meta property="og:title" content="LG Styler — бережный уход за деликатными тканями — LG Россия" />
	<meta property="og:description" content="Узнайте больше о возможностях и характеристиках LG Styler — LG Россия. Где купить LG Styler в Москве, Санкт-Петербурге и в других регионах РФ на официальном сайте производителя."/>
	<meta property="og:url" content="https://www.lg.com--path--">
	<meta property="og:keywords" content="lg styler, бережный уход, технология пара true steam, удаление складок, бережная сушка"/>
	<meta property="og:image" content="https://www.lg.com--path--share.jpg?--version--">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	//= template/--header-styles--
	<link rel="stylesheet" href="--path--css/owl.carousel.min.css?--version--">
	<link rel="stylesheet" href="--path--css/jquery.mCustomScrollbar.min.css?--version--">
	<link rel="stylesheet" href="--path--css/style.css?--version--">
	<link rel="stylesheet" href="--path--css/style_wm.css?--version--">
	
	<script src="//assets.adobedtm.com/9df6f1d56aab8e1a23bc5d911dd01089b83d4a51/satelliteLib-38d93f9577411a7972ebaf4fc4b2e4c7d977cdc7.js"></script>
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-4S9T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-4S9T');</script>
</head>
<body>



//= template/--header--
<div class="banner-wrap">
	<div class="banner-main">
		<!-- <img src="--path--img/main-banner.jpg?--version--" alt="" class="desk"> -->
		<img src="--path--img/hero_ST-back_int.png?--version--" alt="" class="desk">
		<img src="--path--img/hero_wm-front_02.png?--version--" alt="" class="desk parallax">

		<img src="--path--img/main-banner_wm_mob.jpg?--version--" alt="" class="mob">
		<div class="banner-text">
			<div class="banner-logo">
				<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">
			</div>
			<div class="banner-slogan">
				Стиральные машины <br>с&nbsp;функцией пара
			</div>
		</div>
		<div class="banner-button-outer">
			<a href="https://rushop.lg.com/appliances/steam-wardrobe-1/steam-wardrobe/parovoj-shkaf-dlja-uhoda-za-odezhdoj-lg-s3rerb.html" target="_blank" class="banner-button button fixed">Купить</a>
		</div>
	</div>
</div>
<div class="section-outer">
	<div class="nav-block">
		<div class="nav-col styler-col">
			<div class="nav-col-text">
				Стиральные машины 
				<br>с&nbsp;функцией пара
			</div>
			<div class="nav-col-logo">
				<img src="--path--img/styler-logo.svg" alt="LG Truesteam">
			</div>
		</div>
		<div class="switch wm-switch">
			<a href="../">
				<img src="--path--img/wm-switch.png" alt="Switch page">
			</a>
		</div>
		<div class="nav-col truesteam-col">
			<div class="nav-col-text">
				Стиральные машины 
				<br>с&nbsp;функцией пара
			</div>
			<div class="nav-col-logo">
				<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">
			</div>
		</div>
	</div>
	<div class="section-wrap">
		<div class="content-block">
			<div class="content-block-inner">
				<div class="content-col title-col">
					<div class="truesteam-subline">
						Стиральные машины <br>с&nbsp;функцией пара
					</div>
					<div class="content-logo">
						<img src="--path--img/truesteam-logo.svg?--version--" alt="Бережный уход за деликатными тканями">
					</div>
				</div>
				<div class="content-col big ">
					Бережный уход за&nbsp;деликатными тканями
				</div>
			</div>
		</div>
		<div class="features-block">
			<div class="feature-item feature-1 left">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="disclamer">
							*По данным внутренних исследований
						</div>
						<div class="real-bg">
							<img src="--path--img/wm-feature-1.jpg?--version--" alt="Придание свежего вида"  class="real-bg-img">
						</div>
<!-- 						<div class="prod">
							<img src="--path--img/elements/dress_styler.png?--version--" alt="Придание свежего вида">
						</div> -->
						<img src="--path--img/wm-feature-1.jpg?--version--" alt="Придание свежего вида" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Защита от аллергии
							</div>
							<div class="feature-text">
								В&nbsp;процессе стирки удаляются до&nbsp;99,9%* основных аллергенов, таких как: шерсть домашних животных, пыльца, клещи
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-right">
					<!-- <img src="--path--img/dress-bg.jpg?--version--" alt="Придание свежего вида"> -->
					<video src="--path--video/wm_01.mp4?--version--" muted poster="--path--video/wm_01.jpg?--version--" ></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/wm-ico-1.png?--version--" alt="Придание свежего вида">
						</div>
						<div class="point-text animate">
							Собаки — переносчики опасных аллергенов
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-5 right">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/wm-feature-2.jpg?--version--" alt="Защита от аллергии" class="real-bg-img">
						</div>
						<!-- <div class="prod"> -->
							<!-- <img src="--path--img/elements/bear_styler.png?--version--" alt="Придание свежего вида" class="real-bg-img"> -->
						<!-- </div> -->
						
			<!-- 			<div class="baf">
							<img src="--path--img/BAF_logo.png?--version--" alt="BAF">
						</div> -->
						<img src="--path--img/wm-feature-2.jpg?--version--" alt="Защита от аллергии" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Превосходное качество стирки
							</div>
							<div class="feature-text">
								Пар во время стирки смешивается с водой, максимально глубоко проникает в волокна ткани
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<!-- <img src="--path--img/bear.jpg?--version--" alt="Защита от аллергии"> -->
					<video src="--path--video/wm_02.mp4?--version--" poster="--path--video/wm_02.jpg?--version--" muted></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/wm-ico-2.png?--version--" alt="Защита от аллергии">
						</div>
						<div class="point-text animate ">
							Сейчас вся испачкаюсь
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-4 left">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/wm-feature-3.jpg?--version--" alt="Бережная сушка деликатных тканей"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							
							<img src="--path--img/elements/coat_styler.png?--version--" alt="Придание свежего вида">
						</div>
 -->						<img src="--path--img/wm-feature-3.jpg?--version--" alt="Бережная сушка деликатных тканей" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Стирка без химикатов
							</div>
							<div class="feature-text">
								Обеспечивает свежесть вещам без использования моющих средств
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<!-- <img src="--path--img/coat.jpg?--version--" alt="Бережная сушка деликатных тканей"> -->
					<video src="--path--video/wm_03.mp4?--version--" poster="--path--video/wm_03.jpg?--version--" muted></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/coat-ico.png?--version--" alt="Бережная сушка деликатных тканей">
						</div>
						<div class="point-text animate ">
							Я&nbsp;&mdash; кашемировое пальто, меня нельзя мочить под дождем
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-2 right">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/fish_bg2.jpg?--version--" alt="Устранение запахов благодаря функции пара"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							<img src="--path--img/elements/shirts_styler.png?--version--" alt="Придание свежего вида">
							
						</div> -->
						<img src="--path--img/elements/fish_bg1.png?--version--" alt="Устранение запахов благодаря функции пара" class="fake-bg">
						<!-- <img src="--path--img/elements/shirts_steam.png?--version--" alt="Придание свежего вида" class="prod-1"> -->
						<div class="feature-content white">
							<div class="feature-title">
								Стирка паром
							</div>
							<div class="feature-text">
								Альтернатива долгому замачиваю вещей (расщепление глубоких загрязнений)
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<video src="--path--video/video-2-0.mp4?--version--" poster="--path--video/LG-Styler_Shirt_s.jpg?--version--" muted></video>
					<!-- <img src="--path--img/cook.jpg?--version--" alt="Устранение запахов благодаря функции пара"> -->
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/shirt-ico.png?--version--" alt="Устранение запахов благодаря функции пара">
						</div>
						<div class="point-text animate ">
							Я&nbsp;из&nbsp;хлопка, мне не&nbsp;подойдет запах рыбы
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-3 left">
				<div class="feature-content-col hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/jacket_bg1.jpg?--version--" alt="Удаление складок на одежде без утюга"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							<img src="--path--img/elements/jacket_styler.png?--version--" alt="Придание свежего вида">
						</div> -->
						<img src="--path--img/elements/jacket_bg1.png?--version--" alt="Удаление складок на одежде без утюга" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Смягчение ткани и последующая легкая глажка
							</div>
							<div class="feature-text">
								Стиральная машина LG бережно ухаживает за одеждой, устраняя аллергены благодаря функции пара TrueSteam.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-right">
					<!-- <img src="--path--img/suit.jpg?--version--" alt="Удаление складок на одежде без утюга"> -->
					<video src="--path--video/video-3-1.mp4?--version--"  poster="--path--video/LG-Styler_Jacket_2.jpg?--version--" muted></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/jack-ico.png?--version--"  alt="Удаление складок на одежде без утюга">
						</div>
						<div class="point-text animate">
							Я&nbsp;&mdash; дорогой пиджак, а&nbsp;не&nbsp;подушка, меня нельзя просто так мять
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-6 right">
				<div class="feature-content-col  hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/pants_bg1.jpg?--version--" alt="Придание брюкам первоначального вида"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							<img src="--path--img/elements/pants_styler.png?--version--" alt="Придание брюкам первоначального вида">
						</div> -->
						<img src="--path--img/elements/pants_bg1.png?--version--" alt="Придание брюкам первоначального вида" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Освежение паром
							</div>
							<div class="feature-text">
								В процессе стирки горячий пар, смешиваясь с водой, мягко воздействует на ткань, полностью растворяет остатки моющих средств, обезвреживает бактерии.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<!-- <img src="--path--img/pants-bg.jpg?--version--" alt="Придание брюкам первоначального вида"> -->
					<video src="--path--video/video-6-1.mp4?--version--"  poster="--path--video/LG-Styler_Trouses_s.jpg?--version--" muted></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/pants-ico.png?--version--" alt="Придание брюкам первоначального вида">
						</div>
						<div class="point-text animate">
							Мы&nbsp;&mdash; деловые брюки, нам нельзя быть неопрятными
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="steam-treatment-block">
			<div class="steam-treatment-inner">
				<div class="steam-treatment-img-col">
					<img src="--path--img/slider-ex.png?--version--" alt="">
				</div>
				<div class="steam-treatment-content-col">
					<div class="steam-treatment-title">
						Зачем нужна обработка паром?
					</div>
					<div class="steam-treatment-text">
						<p>Горячий пар способен всего за&nbsp;несколько минут превратить одежду в&nbsp;&laquo;конфетку&raquo;, придав ей&nbsp;более свежий и&nbsp;аккуратный вид. Разглаживаются мелкие складки, исчезает пыль и&nbsp;посторонние запахи&nbsp;&mdash; вы&nbsp;готовы к&nbsp;выходу при&nbsp;полном параде! </p>
						<p>Также пар существенно облегчает глажку, когда она необходима,&nbsp;&mdash; сравните хотя&nbsp;бы утюг с&nbsp;отпаривателем и&nbsp;обычный. Кроме того, пар можно использовать и&nbsp;для обработки очень грязных вещей перед стиркой.</p>
					</div>
				</div>
			</div>
		</div> -->
		<div class="gallery-block">
			<div class="gallery-title u-animate">
				<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">&nbsp;&mdash; как это работает?
			</div>
		</div>
	</div>
	<div class="gallery-outer">
		<div class="section-wrap">
		<div class="gallery-block">
			<div class="gallery-inner">

				<div class="gallery-main u-animate u-animate-left">
					<div class="gallery-item-inner" data-src="cVOcVrmE0yo">
						<div class="play">
							<img src="--path--img/play.png?--version--" alt="">
						</div>
						<img src="--path--img/vid-1_wm.jpg?--version--" alt="LG Truesteam">
					</div>
				</div>
				<div class="gallery-list u-animate owl-carousel">
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="74BIqjbdfI0">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-2_wm.jpg?--version--" alt="Гипоаллергенный уход">
						</div>
						<div class="gallery-text">
							Гипоаллергенный уход
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="Ak0326i8TlE">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-3_wm.jpg?--version--" alt="Удаление складок">
						</div>
						<div class="gallery-text">
							6 движений заботы
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="c4umr-TZFqQ">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-4_wm.jpg?--version--" alt="Бережная сушка">
						</div>
						<div class="gallery-text">
							Минимальный уровень шума
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="yAPWfznlvjI">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-5_wm.jpg?--version--" alt="Пресс для брюк">
						</div>
						<div class="gallery-text">
							Система прямого привода
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="834AN9soRJk">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-6_wm.jpg?--version--" alt="Дополнительные программы">
						</div>
						<div class="gallery-text">
							Бережная сушка
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="section-wrap">
		<div class="product-section">
			<div class="slider-col">
				<div class="slider owl-carousel active">
					<!-- <div class="item">
						<img src="--path--img/black/large_01.jpg?--version--" alt="">
					</div> -->
					<div class="item">
						<img src="--path--img/black/large_02.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_03.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_04.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_05.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_06.jpg?--version--" alt="">
					</div>
				</div>
				<div class="slider owl-carousel active">
					<!-- <div class="item">
						<img src="--path--img/black/large_01.jpg?--version--" alt="">
					</div> -->
					<div class="item">
						<img src="--path--img/gray/large_02.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_03.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_04.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_05.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_10.jpg?--version--" alt="">
					</div>
				</div>
			</div>
			<div class="content-col">
				<div class="tab-title">
					<img src="--path--img/truesteam-logo.svg?--version--" alt="">
				</div>
				<div class="tab-color">
					<div class="color-item" data-shop="https://rushop.lg.com/appliances/steam-wardrobe-1/steam-wardrobe/parovoj-shkaf-dlja-uhoda-za-odezhdoj-lg-s3rerb.html" data-wtb="/ru/products/wtb?modelId=MD05781089&returnFlag=">
						<!-- <div class="color" style="background: #312725;"></div> -->
						<div class="color-text">Стиральная машина LG FH4G1JCH2N</div>
					</div>
				<!-- 	<div class="color-item active" data-shop="https://rushop.lg.com/appliances/steam-wardrobe-1/steam-wardrobe/parovoj-shkaf-dlja-uhoda-za-odezhdoj-lg-s3wer.html" data-wtb="/ru/products/wtb?modelId=MD05782289&returnFlag=">
						<div class="color white" style="background: #E9EAEE;"></div>
						<div class="color-text">Белый</div>
					</div> -->
				</div>

				<ul class="features">
					<li>Функция сушки Eco Hybrid</li>
					<li>Функция пара True Steam</li>
					<li>Подключение к Wi-Fi</li>
					<li>Возможность подключения мини-барабана</li>
				</ul>
				<a href="/ru/smartphones/lg-LMQ710NAW-aurora-black#tech-specs"  target="_blank" class="tab-model-button">
					Полные&nbsp;технические&nbsp;характеристики
				</a>
				<div class="shops">
					<div class="shops-text">
						<div class="price-text">Рекомендуемая цена : 96&nbsp;990&nbsp;руб.</div>
						<div class="price-info">
							<a href="javascript:void(0);" class="tooltip-button">
								<img src="--path--img/i.png?--version--" alt="">
							</a>
							<div class="tooltip">
								Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
							</div>
						</div>
					</div>
					<div class="price-block clearfix">
						<div class="button-wrp">
							<a href="https://rushop.lg.com/appliances/steam-wardrobe-1/steam-wardrobe/parovoj-shkaf-dlja-uhoda-za-odezhdoj-lg-s3wer.html" class="button" target="_blank" data-sc-item="MU-engagements" data-sc-value="engagement:MU:Q_Stylus:discover:nav:buy-bottom" id="buy-bottom">Купить онлайн</a>
						</div>
						<div class="button-wrp">
							<a href="https://www.lg.com/ru/products/wtb?modelId=MD05781089&returnFlag=" class="button" target="_blank" data-sc-item="MU-engagements" data-sc-value="engagement:MU:Q_Stylus:discover:nav:buy-bottom" id="wtb-bottom">Купить на сайтах партнеров</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="banner-wrap">
		<div class="banner-bottom">
			<div class="banner-bottom-content u-animate">
				<div class="banner-bottom-logo">
					<img src="--path--img/styler-logo.svg" alt="">
				</div>
				<div class="banner-bottom-text">
					Бережный уход за&nbsp;деликатными тканями
				</div>
			</div>
			<img src="--path--img/banner-bottom.jpg?--version--" alt="">
		</div>
		<div class="disclamer-block">
		
		</div>
	</div> -->
</div>
//= template/--footer--

<div class="overlay"></div>
<div class="video-popup">
	<div class="video-wrapper"></div>
</div>
<div class="popup-tech">
	<div class="popup-tech-inner">
		<div class="popup-title">
			Технические характеристики
		</div>
		<div class="popup-table-wrap mCustomScrollbar">
			<table class="tech-table">
				<tr>
					<td>Цвет</td>
					<td class="model">
						<div class="color-wrap"><div class="color" style="background:#372D2B;"></div></div>
					</td>
				</tr>
				<tr>
					<td>Загрузка</td>
					<td class="model"> 4 вещи </td>
				</tr>
				<tr>
					<td>Количество вешалок</td>
					<td class="model">3 + 1 (пресс для брюк)</td>
				</tr>
				<tr>
					<td>Дисплей</td>
					<td class="model">Сенсорный</td>
				</tr>
				<tr>
					<td>Шум (Дб)</td>
					<td class="model">40</td>
				</tr>
				<tr>
					<td>Оборотов в минуту </td>
					<td class="model">180</td>
				</tr>
				<tr>
					<td>Потребление энергии</td>
					<td class="model">1850 Вт (стандартный цикл освежения)</td>
				</tr>
				<tr>
					<td>Программы </td>
					<td class="model">Освежение,<br> Сушка,<br> Удаление аллергенов,<br> Деликатный режим</td>
				</tr>
				<tr>
					<td>Доступные для загрузки циклы</td>
					<td class="model">Быстро <br> Спортивная одежда <br>Освежение воздухом<br>Платки/Галстуки <br>Мягкие игрушки <br>Тихий режим <br>После дождя <br> Антистатик</td>
				</tr>
				<tr>
					<td>Аксессуары</td>
					<td class="model">Вешалка для рубашек &mdash; 2<br>Вешалка для брюк &mdash; 1<br>Пресс для брюк &mdash; 1<br>Глажка брюк &mdash; 1<br>Контейнер для воды &mdash; 1</td>
				</tr>
				<tr>
					<td>NFC Tag On (Загрузка циклов)</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Мобильная диагностика Smart Diagnosis</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Функция пара TrueSteam</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Требования к питанию</td>
					<td class="model">220В, 50 Гц</td>
				</tr>
				<tr>
					<td>Энергопотребление</td>
					<td class="model">1595 Вт</td>
				</tr>
				<tr>
					<td>Размер (Ш x В x Г), мм</td>
					<td class="model">445 x 1850 x 585</td>
				</tr>
				<tr>
					<td>Вес (в коробке)</td>
					<td class="model">83 кг</td>
				</tr>
				<tr>
					<td>Гарантия детали</td>
					<td class="model">1 год</td>
				</tr>
				<tr>
					<td>Гарантия Инверторный компрессор</td>
					<td class="model">10 лет</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="popup-close"><img src="--path--img/close.png?--version--" alt=""></div>
<script src="--path--js/jquery-2.2.3.min.js?--version--"></script>
<script src="--path--js/owl.carousel.min.js?--version--"></script>
<script src="--path--js/jquery.mCustomScrollbar.concat.min.js?--version--"></script>
<script src="--path--js/script.js?--version--"></script>

<script>
    var digitalData={};
    digitalData = {
        pageInfo: {
            pageName: 'ru:Стиральные машины:SpecialProject:Styler',
            channel: 'ru:Стиральные машины:SpecialProject',
            siteSection: 'ru:Стиральные машины:SpecialProject',
            subSection: 'ru:Стиральные машины:SpecialProject'
        },
        siteInfo: {
         siteCountryCode: 'ru'
        },
        globalInfo: {
         languageCode: 'ru'
        }
    };
</script>


<script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>