//= template/--head--
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#fff">

	<title>LG Styler — бережный уход за деликатными тканями — LG Россия</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="Узнайте больше о возможностях и характеристиках LG Styler — LG Россия. Где купить LG Styler в Москве, Санкт-Петербурге и в других регионах РФ на официальном сайте производителя.">
	<meta name="keywords" content="lg styler, бережный уход, технология пара true steam, удаление складок, бережная сушка">
	<meta property="og:title" content="LG Styler — бережный уход за деликатными тканями — LG Россия" />
	<meta property="og:description" content="Узнайте больше о возможностях и характеристиках LG Styler — LG Россия. Где купить LG Styler в Москве, Санкт-Петербурге и в других регионах РФ на официальном сайте производителя."/>
	<meta property="og:url" content="https://www.lg.com--path--">
	<meta property="og:keywords" content="lg styler, бережный уход, технология пара true steam, удаление складок, бережная сушка"/>
	<meta property="og:image" content="https://www.lg.com--path--share.jpg?--version--">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	//= template/--header-styles--
	<link rel="stylesheet" href="--path--css/owl.carousel.min.css?--version--">
	<link rel="stylesheet" href="--path--css/jquery.mCustomScrollbar.min.css?--version--">
	<link rel="stylesheet" href="--path--css/style.css?--version--">
	
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-4S9T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-4S9T');</script>
	<script src="//assets.adobedtm.com/9df6f1d56aab8e1a23bc5d911dd01089b83d4a51/satelliteLib-38d93f9577411a7972ebaf4fc4b2e4c7d977cdc7.js"></script>
</head>
<body>



//= template/--header--
<div class="banner-wrap">
	<div class="banner-main">
		<!-- <img src="--path--img/main-banner.jpg?--version--" alt="" class="desk"> -->
		<img src="--path--img/hero_ST-back_int.png?--version--" alt="" class="desk">
		<img src="--path--img/hero_ST-front_int1.png?--version--" alt="" class="desk parallax">

		<img src="--path--img/main-banner_mob.jpg?--version--" alt="" class="mob">
		<div class="banner-text">
<!-- 			<div class="banner-logo">
				<img src="--path--img/styler-logo.svg" alt="LG Styler">
			</div> -->
			<div class="banner-slogan">
				Система ухода за&nbsp;одеждой с&nbsp;помощью пара: 
				<div class="subslogan">
					<span class="bold">LG&nbsp;Styler</span> и&nbsp;стиральные машины с&nbsp;функцией пара <span class="bold">TrueSteam</span>
				</div>
			</div>
		</div>
		<div class="banner-button-outer">
			<a href="https://rushop.lg.com/product/lg-styler-sistema-uhoda-za-odezhdoy-stayler-s3rerb" target="_blank" class="banner-button button fixed">Купить онлайн</a>
		</div>
	</div>
</div>
<div class="section-outer">
		<div class="nav-text">
			LG&nbsp;предлагает комплексный подход по&nbsp;уходу за&nbsp;одеждой: <span class="bold">LG&nbsp;Styler</span> для&nbsp;ежедневного ухода и&nbsp;стиральные машины с&nbsp;функцией пара <span class="bold">TrueSteam</span> для&nbsp;тщательной и&nbsp;бережной стирки.
		</div>
		<div class="nav-more">
			Узнать больше:
		</div>
	<div class="nav-block">
		<div class="nav-col styler-col">
			<div class="nav-col-logo anch">
				<img src="--path--img/styler-logo.svg" alt="LG Truesteam">
			</div>
			<div class="nav-col-text">
					Система ухода за одеждой <br>с&nbsp;помощью пара
			</div>
		</div>
		<div class="switch tw-switch">
			<img src="--path--img/tw-switch-bg.png" alt="Switch page" class="switch-bg">
			<div id="container-s">
				<div id="switch-slider" class="switch-slider"></div>
				<div class="slide-text">
					Потяните >
				</div>
			</div>
			<!-- <a href="/ru/washing-machines/truesteam/wm/">
				<img src="--path--img/tw-switch1.png" alt="Switch page" class="switch-img">
			</a> -->
		</div>
		<div class="nav-col truesteam-col">
			<a href="/ru/washing-machines/truesteam/wm">
				<div class="nav-col-logo">
					<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">
				</div>
				<div class="nav-col-text">
					Стиральные машины 
					<br>с&nbsp;функцией пара
				</div>
			</a>
		</div>
	</div>
	<div class="section-wrap">
		<!-- <div class="content-block">
			<div class="content-block-inner">
				<div class="content-col title-col">
					<div class="content-logo">
						<img src="--path--img/styler-logo.svg?--version--" alt="Бережный уход за деликатными тканями">
					</div>
				</div>
				<div class="content-col big ">
					Думайте о&nbsp;важных вещах, а&nbsp;об&nbsp;одежде позаботится LG&nbsp;Styler!
				</div>
			</div>
		</div> -->
		<div class="features-block">
			<div class="feature-item feature-1 left">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/ts-bg-1.jpg?--version--" alt="Придание свежего вида"  class="real-bg-img">
						</div>
<!-- 						<div class="prod">
							<img src="--path--img/elements/dress_styler.png?--version--" alt="Придание свежего вида">
						</div> -->
						<img src="--path--img/elements/dress_bg1.png?--version--" alt="Придание свежего вида" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Придаст одежде свежий вид
							</div>
							<div class="feature-text">
								Система ухода за&nbsp;одеждой с&nbsp;помощью пара LG&nbsp;Styler бережно освежает, разглаживает, заботится о&nbsp;вашей одежде каждый день, придавая ей&nbsp;аккуратный внешний вид.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-right">
					<img src="--path--video/LG-Styler_Dress_2.jpg?--version--" alt="Бережная сушка деликатных тканей" class="mob">
					<video src="--path--video/video-1-2.mp4?--version--" muted poster="--path--video/LG-Styler_Dress_2.jpg?--version--"  class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/dress-ico.png?--version--" alt="Придание свежего вида">
						</div>
						<div class="point-text animate">
							Я&nbsp;&mdash; платье, мне нельзя 
							долго пылиться в&nbsp;шкафу
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-5 right">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/ts-bg-2.jpg?--version--" alt="Защита от аллергии" class="real-bg-img">
						</div>
						<!-- <div class="prod"> -->
							<!-- <img src="--path--img/elements/bear_styler.png?--version--" alt="Придание свежего вида" class="real-bg-img"> -->
						<!-- </div> -->
						<div class="disclamer">
							*По данным внутренних исследований
						</div>
						<div class="baf">
							<img src="--path--img/BAF_logo.png?--version--" alt="BAF">
						</div>
						<img src="--path--img/elements/bear_bg1.png?--version--" alt="Защита от аллергии" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Позаботится о&nbsp;здоровье
							</div>
							<div class="feature-text">
								Уникальная технология пара True&nbsp;Steam<sup class="reg">&reg;</sup> мягко воздействует на&nbsp;ткань, удаляет до&nbsp;99,9%* бытовых аллергенов и&nbsp;бактерий на&nbsp;одежде, постельном белье и&nbsp;даже мягких детских игрушках.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/LG-Styler_toy_2.jpg?--version--" alt="Бережная сушка деликатных тканей" class="mob">
					<video src="--path--video/video-5-1.mp4?--version--" poster="--path--video/LG-Styler_toy_2.jpg?--version--" muted  class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/bear-ico.png?--version--" alt="Защита от аллергии">
						</div>
						<div class="point-text animate ">
							Я&nbsp;&mdash; плюшевый медведь, на мне не должны жить микробы
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-4 left">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/ts-bg-3.jpg?--version--" alt="Бережная сушка деликатных тканей"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							
							<img src="--path--img/elements/coat_styler.png?--version--" alt="Придание свежего вида">
						</div>
 -->						<img src="--path--img/elements/coat_bg1.png?--version--" alt="Бережная сушка деликатных тканей" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Бережно высушит
							</div>
							<div class="feature-text">
								Сушка теплым воздухом таких деликатных тканей, как кашемир, шелк, шерсть, фетр теперь занимает значительно меньше времени. Воздух при низких температурах избавляет одежду от&nbsp;влаги, не&nbsp;повреждая&nbsp;ее, и, в&nbsp;то&nbsp;же время, выпрямляя волокна ткани, делая ее&nbsp;более мягкой и&nbsp;приятной на&nbsp;ощупь.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/LG-Styler_Coat_s.jpg?--version--" alt="Бережная сушка деликатных тканей" class="mob">
					<video src="--path--video/video-4-1.mp4?--version--" poster="--path--video/LG-Styler_Coat_s.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/coat-ico.png?--version--" alt="Бережная сушка деликатных тканей">
						</div>
						<div class="point-text animate ">
							Я&nbsp;&mdash; кашемировое пальто, меня нельзя мочить под дождем
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-2 right">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/ts-bg-4.jpg?--version--" alt="Устранение запахов благодаря функции пара"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							<img src="--path--img/elements/shirts_styler.png?--version--" alt="Придание свежего вида">
							
						</div> -->
						<img src="--path--img/elements/fish_bg1.png?--version--" alt="Устранение запахов благодаря функции пара" class="fake-bg">
						<!-- <img src="--path--img/elements/shirts_steam.png?--version--" alt="Придание свежего вида" class="prod-1"> -->
						<div class="feature-content white">
							<div class="feature-title">
								Устранит запахи
							</div>
							<div class="feature-text">
								Благодаря технология True&nbsp;Steam<sup class="reg">&reg;</sup> пар глубоко проникает в&nbsp;ткань одежды, эффективно и&nbsp;деликатно устраняет неприятные запахи табака, пота или еды. Парфюмированные салфетки, которые входят в&nbsp;комплект, придадут одежде тонкий, ненавязчивый аромат.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/LG-Styler_Shirt_s.jpg?--version--" alt="Бережная сушка деликатных тканей" class="mob">
					<video src="--path--video/video-2-0.mp4?--version--" poster="--path--video/LG-Styler_Shirt_s.jpg?--version--" muted class="desk"></video>
					<!-- <img src="--path--img/cook.jpg?--version--" alt="Устранение запахов благодаря функции пара"> -->
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/shirt-ico.png?--version--" alt="Устранение запахов благодаря функции пара">
						</div>
						<div class="point-text animate ">
							Я&nbsp;из&nbsp;хлопка, мне не&nbsp;подойдет запах рыбы
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-3 left">
				<div class="feature-content-col hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/ts-bg-5.jpg?--version--" alt="Удаление складок на одежде без утюга"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							<img src="--path--img/elements/jacket_styler.png?--version--" alt="Придание свежего вида">
						</div> -->
						<img src="--path--img/elements/jacket_bg1.png?--version--" alt="Удаление складок на одежде без утюга" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Удалит складки
							</div>
							<div class="feature-text">
								Сочетание пара и&nbsp;вешалок, движущихся со&nbsp;скоростью 180 колебаний в&nbsp;минуту, помогает LG&nbsp;Styler эффективно уменьшить складки на&nbsp;вашей одежде и&nbsp;придать ей&nbsp;опрятный внешний вид.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-right">
					<img src="--path--video/LG-Styler_Jacket_2.jpg?--version--" alt="Бережная сушка деликатных тканей" class="mob">
					<video src="--path--video/video-3-1.mp4?--version--"  poster="--path--video/LG-Styler_Jacket_2.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/jack-ico.png?--version--"  alt="Удаление складок на одежде без утюга">
						</div>
						<div class="point-text animate">
							Я&nbsp;&mdash; дорогой пиджак, а&nbsp;не&nbsp;подушка, меня нельзя просто так мять
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-6 right">
				<div class="feature-content-col  hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/ts-bg-6.jpg?--version--" alt="Придание брюкам первоначального вида"  class="real-bg-img">
						</div>
						<!-- <div class="prod">
							<img src="--path--img/elements/pants_styler.png?--version--" alt="Придание брюкам первоначального вида">
						</div> -->
						<img src="--path--img/elements/pants_bg1.png?--version--" alt="Придание брюкам первоначального вида" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Восстановит стрелки на&nbsp;брюках
							</div>
							<div class="feature-text">
								Специальный пресс для&nbsp;брюк, расположенный на&nbsp;дверце LG&nbsp;Styler, помогает восстановить стрелки, удалив при этом лишние складки.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/LG-Styler_Trouses_s.jpg?--version--" alt="Бережная сушка деликатных тканей" class="mob">
					<video src="--path--video/video-6-1.mp4?--version--"  poster="--path--video/LG-Styler_Trouses_s.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/pants-ico.png?--version--" alt="Придание брюкам первоначального вида">
						</div>
						<div class="point-text animate">
							Мы&nbsp;&mdash; деловые брюки, нам нельзя быть неопрятными
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="steam-treatment-block">
			<div class="steam-treatment-inner">
				<div class="steam-treatment-img-col">
					<img src="--path--img/slider-ex.png?--version--" alt="">
				</div>
				<div class="steam-treatment-content-col">
					<div class="steam-treatment-title">
						Зачем нужна обработка паром?
					</div>
					<div class="steam-treatment-text">
						<p>Горячий пар способен всего за&nbsp;несколько минут превратить одежду в&nbsp;&laquo;конфетку&raquo;, придав ей&nbsp;более свежий и&nbsp;аккуратный вид. Разглаживаются мелкие складки, исчезает пыль и&nbsp;посторонние запахи&nbsp;&mdash; вы&nbsp;готовы к&nbsp;выходу при&nbsp;полном параде! </p>
						<p>Также пар существенно облегчает глажку, когда она необходима,&nbsp;&mdash; сравните хотя&nbsp;бы утюг с&nbsp;отпаривателем и&nbsp;обычный. Кроме того, пар можно использовать и&nbsp;для обработки очень грязных вещей перед стиркой.</p>
					</div>
				</div>
			</div>
		</div> -->
		<div class="gallery-block">
			<div class="gallery-title u-animate">
				<img src="--path--img/styler-logo.svg" alt="LG Styler">&nbsp;&mdash; как это работает?
			</div>
		</div>
	</div>
	<div class="gallery-outer">
		<div class="section-wrap">
		<div class="gallery-block">
			<div class="gallery-inner">

				<div class="gallery-main u-animate u-animate-left">
					<div id="player"></div>
					<div class="gallery-item-inner" data-src="cVOcVrmE0yo">
						<div class="play">
							<img src="--path--img/play.png?--version--" alt="">
						</div>
						<img src="--path--img/vid-1.jpg?--version--" alt="LG Styler">
					</div>
				</div>
				<div class="gallery-list u-animate owl-carousel">
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="74BIqjbdfI0">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-2.jpg?--version--" alt="Гипоаллергенный уход">
						</div>
						<div class="gallery-text">
							Гипоаллергенный уход
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="Ak0326i8TlE">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-3.jpg?--version--" alt="Удаление складок">
						</div>
						<div class="gallery-text">
							Удаление складок
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="c4umr-TZFqQ">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-4.jpg?--version--" alt="Бережная сушка">
						</div>
						<div class="gallery-text">
							Бережная сушка
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="yAPWfznlvjI">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-5.jpg?--version--" alt="Пресс для брюк">
						</div>
						<div class="gallery-text">
							Пресс для брюк
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="834AN9soRJk">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/vid-6.jpg?--version--" alt="Дополнительные программы">
						</div>
						<div class="gallery-text">
							Дополнительные программы
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="section-wrap">
		<div class="styler-compare">
			<div class="styler-compare-title">Выберите свой LG Styler</div>
			<div class="styler-compare-inner">
				<div class="styler-compare-col" style="background-image: url(--path--img/Back_01.jpg);">
					<div class="styler-compare-col-title">
						<img src="--path--img/Styler_Black.svg" alt="">
					</div>
					<div class="styler-compare-col-undertitle">LG S3RERB</div>
					<div class="styler-compare-col-text">Два цвета на выбор<br>Компактные размеры </div>
					<div class="styler-compare-col-imgs">
						<img src="--path--img/compare/compare_01-1.png" alt="">
						<img src="--path--img/compare/compare_01-1_open.png" alt="" class="hover-img hover-img-1">
					</div>
				</div>
				<div class="styler-compare-col" style="background-image: url(--path--img/Back_02-1_.jpg);">
					<div class="styler-compare-col-title">
						<img src="--path--img/Styler_Black.svg" alt="">
					</div>
					<div class="styler-compare-col-undertitle">LG S5MB</div>
					<div class="styler-compare-col-text">Зеркальная дверь <br>Увеличенная вместимость</div>
					<div class="styler-compare-col-imgs">
						<img src="--path--img/compare/compare_02-1.png" alt="">
						<img src="--path--img/compare/compare_02-1_open.png" alt="" class="hover-img hover-img-2">
					</div>
				</div>
				<div class="styler-compare-col" style="background-image: url(--path--img/Back_03-1_.jpg);">
					<div class="styler-compare-col-title">
						<img src="--path--img/Styler_Black.svg" alt="">
					</div>
					<div class="styler-compare-col-undertitle">LG S5BB</div>
					<div class="styler-compare-col-text">Классический дизайн <br>Увеличенная вместимость</div>
					<div class="styler-compare-col-imgs">
						<img src="--path--img/compare/compare_03-1.png" alt="">
						<img src="--path--img/compare/compare_03-1_open.png" alt="" class="hover-img hover-img-3">
					</div>
				</div>
			</div>
		</div>
		<div class="product-section">
			<div class="slider-col">
				<div class="slider owl-carousel" data-id="1">
					<!-- <div class="item">
						<img src="--path--img/black/large_01.jpg?--version--" alt="">
					</div> -->
					<div class="item">
						<img src="--path--img/black/large_02.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_03.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_04.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_05.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/black/large_06.jpg?--version--" alt="">
					</div>
				</div>
				<div class="slider owl-carousel" data-id="2">
					<!-- <div class="item">
						<img src="--path--img/black/large_01.jpg?--version--" alt="">
					</div> -->
					<div class="item">
						<img src="--path--img/gray/large_02.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_03.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_04.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_05.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/gray/large_10.jpg?--version--" alt="">
					</div>
				</div>
				<div class="slider owl-carousel" data-id="3">
					<div class="item">
						<img src="--path--img/s5bb/large1.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5bb/large2.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5bb/large3.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5bb/large4.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5bb/large5.jpg?--version--" alt="">
					</div>
				</div>
				<div class="slider owl-carousel active" data-id="4">
					<div class="item">
						<img src="--path--img/s5mb/large1.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5mb/large2.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5mb/large3.jpg?--version--" alt="">
					</div>
					<div class="item">
						<img src="--path--img/s5mb/large4.jpg?--version--" alt="">
					</div>
				</div>
			</div>
			<div class="content-col">
				<!-- <div class="tab-title">
					<img src="--path--img/styler-logo.svg?--version--" alt="">
				</div> -->
				<div class="tabs-models">
					<div class="tab-model active" data-model="S5MB">
						<div class="tab-model-img">
							<img src="--path--img/tab_S5MB.png?--version--" alt="">
						</div>
						<div class="tab-model-info">
							<div class="tab-model-logo">
								<img src="--path--img/Styler_Color.svg?--version--" alt="">
							</div>
							<div class="tab-model-articul">
								LG&nbsp;S5MB
							</div>
						</div>
					</div>
					<div class="tab-model " data-model="S3RERB">
						<div class="tab-model-img">
							<img src="--path--img/tab_S3RERB.png?--version--" alt="">
						</div>
						<div class="tab-model-info">
							<div class="tab-model-logo">
								<img class="S3RERB" src="--path--img/Styler_Color.svg?--version--" alt="">
							</div>
							<div class="tab-model-articul">
								LG&nbsp;S3RERB
							</div>
						</div>
					</div>
					<div class="tab-model" data-model="S5BB" data-shop="https://rushop.lg.com/product/lg-styler-sistema-uhoda-za-odezhdoy-stayler-s5bb" data-wtb="/ru/products/wtb?modelId=MD06052637">
						<div class="tab-model-img">
							<img src="--path--img/tab_S5BB.png?--version--" alt="">
						</div>
						<div class="tab-model-info">
							<div class="tab-model-logo">
								<img src="--path--img/Styler_Color.svg?--version--" alt="">
							</div>
							<div class="tab-model-articul">
								LG&nbsp;S5BB
							</div>
						</div>
					</div>
				</div>
				<div class="tab-color S3RERB">
					<div class="color-item" data-shop="https://rushop.lg.com/product/lg-styler-sistema-uhoda-za-odezhdoy-stayler-s3rerb" data-wtb="/ru/products/wtb?modelId=MD05781089&returnFlag=">
						<div class="color" style="background: #312725;"></div>
						<div class="color-text">Кофейный</div>
					</div>
					<div class="color-item active" data-shop="https://rushop.lg.com/product/lg-styler-sistema-uhoda-za-odezhdoy-stayler-s3wer" data-wtb="/ru/products/wtb?modelId=MD05782289&returnFlag=">
						<div class="color white" style="background: #E9EAEE;"></div>
						<div class="color-text">Белый</div>
					</div>
				</div>
				<div class="tab-color S5BB">
					<div class="color-item active">
						<div class="color" style="background: #372D2B;"></div>
						<div class="color-text">Черный</div>
					</div>
				</div>
				<ul class="features">
					<li>Уменьшение складок</li>
					<li>Снижение концентрации неприятных запахов</li>
					<li>Деликатная сушка</li>
					<li>Функция создания стрелок на брюках</li>
					<li>Устранение пыли</li>
					<li class="plus">Увеличенная вместимость</li>
				</ul>
				<ul class="features" data-id="S5MB" style="display: none;">
					<li>Освежение</li>
					<li>Гигиена</li>
					<li>Деликатная сушка</li>
					<li>Пресс для брюк</li>
					<li>Wi-Fi и управление через смартфон с приложением SmartThinQ</li>
				</ul>
				<a href="/ru/smartphones/lg-LMQ710NAW-aurora-black#tech-specs"  target="_blank" class="tab-model-button">
					Полные&nbsp;технические&nbsp;характеристики
				</a>
				<div class="shops">
					<div class="shops-text">
						<div class="price-text S3RERB">Рекомендуемая цена : 129&nbsp;990&nbsp;руб.</div>
						<div class="price-text S5BB">Рекомендуемая цена : 169&nbsp;990&nbsp;руб.</div>
						<div class="price-text S5MB">Рекомендуемая цена : 139&nbsp;990&nbsp;руб.</div>
						<div class="price-info">
							<a href="javascript:void(0);" class="tooltip-button">
								<img src="--path--img/i.png?--version--" alt="">
							</a>
							<div class="tooltip">
								Пожалуйста, примите во&nbsp;внимание, что политика ООО ЛГ&nbsp;Электроникс РУС предполагает полную самостоятельность компаний в&nbsp;установлении порядка ценообразования. ООО ЛГ&nbsp;Электроникс РУC&nbsp;не следует указаниям хозяйствующих субъектов по&nbsp;установлению цен на&nbsp;товары. Цены, рекомендуемые ООО ЛГ&nbsp;Электроникс РУС своим контрагентам, носят исключительно информационный (рекомендательный) характер.
							</div>
						</div>
					</div>
					<div class="price-block clearfix">
						<div class="button-wrp">
							<a href="https://rushop.lg.com/product/lg-styler-sistema-uhoda-za-odezhdoy-stayler-s5bb" class="button" target="_blank" data-sc-item="MU-engagements" data-sc-value="engagement:MU:Q_Stylus:discover:nav:buy-bottom" id="buy-bottom">Купить онлайн</a>
						</div>
						<div class="button-wrp">
							<a href="/ru/products/wtb?modelId=MD06052637" class="button" target="_blank" data-sc-item="MU-engagements" data-sc-value="engagement:MU:Q_Stylus:discover:nav:buy-bottom" id="wtb-bottom">Купить на сайтах партнеров</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="banner-wrap">
		<div class="banner-bottom">
			<div class="banner-bottom-content u-animate">
				<div class="banner-bottom-logo">
					<img src="--path--img/styler-logo.svg" alt="">
				</div>
				<div class="banner-bottom-text">
					Бережный уход за&nbsp;деликатными тканями
				</div>
			</div>
			<img src="--path--img/banner-bottom.jpg?--version--" alt="">
		</div>
		<div class="disclamer-block">
		
		</div>
	</div> -->
</div>
<div class="footer-cta">
	<ul>
		<li><a href="/ru/stylers" target="_blank">Все стайлеры LG</a></li>
		<li><a href="/ru/products/wtb?modelId=MD06052637" target="_blank">Где купить</a></li>
		<li><a href="https://rushop.lg.com/collection/stayler-dlya-odezhdy" target="_blank">Онлайн-магазин LG</a></li>
	</ul>
</div>
//= template/--footer--

<div class="overlay"></div>
<div class="video-popup">
	<div class="video-wrapper"></div>
</div>
<div class="popup-tech S3RERB">
	<div class="popup-tech-inner">
		<div class="popup-title">
			Технические характеристики
		</div>
		<div class="popup-table-wrap mCustomScrollbar">
			<table class="tech-table">
				<tr>
					<td>Цвет</td>
					<td class="model">
						<div class="color-wrap"><div class="color" style="background:#372D2B;"></div></div>
					</td>
				</tr>
				<tr>
					<td>Загрузка</td>
					<td class="model"> 4 вещи </td>
				</tr>
				<tr>
					<td>Количество вешалок</td>
					<td class="model">3 + 1 (пресс для брюк)</td>
				</tr>
				<tr>
					<td>Дисплей</td>
					<td class="model">Сенсорный</td>
				</tr>
				<tr>
					<td>Шум (Дб)</td>
					<td class="model">40</td>
				</tr>
				<tr>
					<td>Оборотов в минуту </td>
					<td class="model">180</td>
				</tr>
				<tr>
					<td>Потребление энергии</td>
					<td class="model">1850 Вт (стандартный цикл освежения)</td>
				</tr>
				<tr>
					<td>Программы </td>
					<td class="model">Освежение,<br> Сушка,<br> Удаление аллергенов,<br> Деликатный режим</td>
				</tr>
				<tr>
					<td>Доступные для загрузки циклы</td>
					<td class="model">Быстро <br> Спортивная одежда <br>Освежение воздухом<br>Платки/Галстуки <br>Мягкие игрушки <br>Тихий режим <br>После дождя <br> Антистатик</td>
				</tr>
				<tr>
					<td>Аксессуары</td>
					<td class="model">Вешалка для рубашек &mdash; 2<br>Вешалка для брюк &mdash; 1<br>Пресс для брюк &mdash; 1<br>Глажка брюк &mdash; 1<br>Контейнер для воды &mdash; 1</td>
				</tr>
				<tr>
					<td>NFC Tag On (Загрузка циклов)</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Мобильная диагностика Smart Diagnosis</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Функция пара TrueSteam</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Требования к питанию</td>
					<td class="model">220В, 50 Гц</td>
				</tr>
				<tr>
					<td>Энергопотребление</td>
					<td class="model">1595 Вт</td>
				</tr>
				<tr>
					<td>Размер (Ш x В x Г), мм</td>
					<td class="model">445 x 1850 x 585</td>
				</tr>
				<tr>
					<td>Вес (в коробке)</td>
					<td class="model">83 кг</td>
				</tr>
				<tr>
					<td>Гарантия детали</td>
					<td class="model">1 год</td>
				</tr>
				<tr>
					<td>Гарантия Инверторный компрессор</td>
					<td class="model">10 лет</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="popup-tech S5BB">
	<div class="popup-tech-inner">
		<div class="popup-title">
			Технические характеристики
		</div>
		<div class="popup-table-wrap mCustomScrollbar">
			<table class="tech-table">
				<tr>
					<td>Цвет</td>
					<td class="model">
						<div class="color-wrap"><div class="color" style="background:#3A3A3A;"></div></div>
					</td>
				</tr>
				<tr>
					<td>Загрузка</td>
					<td class="model"> 5 вещей + 1 брюки </td>
				</tr>
				<tr>
					<td>Количество вешалок</td>
					<td class="model">3 + 1 (пресс для брюк)</td>
				</tr>
				<tr>
					<td>Дисплей</td>
					<td class="model">Сенсорный</td>
				</tr>
				<tr>
					<td>Шум (Дб)</td>
					<td class="model">40</td>
				</tr>
				<tr>
					<td>Оборотов в минуту </td>
					<td class="model">180</td>
				</tr>
				<tr>
					<td>Потребление энергии</td>
					<td class="model">1850 Вт (стандартный цикл освежения)</td>
				</tr>
				<tr>
					<td>Программы </td>
					<td class="model">Освежить,<br> Сушка,<br> Гигиена,<br></td>
				</tr>
				<!-- <tr>
					<td>Доступные для загрузки циклы</td>
					<td class="model">Быстро <br> Спортивная одежда <br>Освежение воздухом<br>Платки/Галстуки <br>Мягкие игрушки <br>Тихий режим <br>После дождя <br> Антистатик</td>
				</tr> -->
				<tr>
					<td>Аксессуары</td>
					<td class="model">Вешалка для рубашек &mdash; 3<br>Вешалка для брюк &mdash; 1<br>Пресс для брюк &mdash; 1<br>Контейнер для воды &mdash; 1</td>
				</tr>
				<tr>
					<td>Wi-Fi (Загрузка циклов)</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Мобильная диагностика Smart Diagnosis</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Функция пара TrueSteam</td>
					<td class="model"><span class="yes"></span></td>
				</tr>
				<tr>
					<td>Требования к питанию</td>
					<td class="model">220В, 50 Гц</td>
				</tr>
				<tr>
					<td>Энергопотребление</td>
					<td class="model">1850 Вт</td>
				</tr>
				<tr>
					<td>Размер (Ш x В x Г), мм</td>
					<td class="model">600 × 1960 × 596</td>
				</tr>
				<tr>
					<td>Размер упаковки (Ш x В x Г), мм</td>
					<td class="model">717 × 2050 × 715</td>
				</tr>
				<tr>
					<td>Вес (в коробке)</td>
					<td class="model">105 кг</td>
				</tr>
				<tr>
					<td>Вес (без упаковки)</td>
					<td class="model">95 кг</td>
				</tr>
				<tr>
					<td>Гарантия детали</td>
					<td class="model">1 год</td>
				</tr>
				<tr>
					<td>Гарантия Инверторный компрессор</td>
					<td class="model">10 лет</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="popup-close"><img src="--path--img/close.png?--version--" alt=""></div>
<script src="--path--js/jquery-2.2.3.min.js?--version--"></script>
<script src="--path--js/jquery-ui.min.js?--version--"></script>
<script src="--path--js/owl.carousel.min.js?--version--"></script>
<script src="--path--js/jquery.mCustomScrollbar.concat.min.js?--version--"></script>
<script src="--path--js/touch.js?--version--"></script>
<script src="https://www.youtube.com/player_api"></script>
<script src="--path--js/script3.js?--version--"></script>

<script>
	$(window).scroll(function(){
  if($(window).scrollTop() + $(window).height() > $(document).height() - 160) {
    $('.footer-cta').addClass('static');
    $('.footer-cta').removeClass('fixed');
  } else {
    $('.footer-cta').addClass('fixed');
    $('.footer-cta').removeClass('static');
  }
});

</script>
<script>
    var digitalData={};
    digitalData = {
        pageInfo: {
            pageName: 'ru:Стиральные машины:SpecialProject:Styler',
            channel: 'ru:Стиральные машины:SpecialProject',
            siteSection: 'ru:Стиральные машины:SpecialProject',
            subSection: 'ru:Стиральные машины:SpecialProject'
        },
        siteInfo: {
         siteCountryCode: 'ru'
        },
        globalInfo: {
         languageCode: 'ru'
        }
    };
</script>
<script type="text/javascript">
var player;
var videoId = $('.gallery-main .gallery-item-inner').data('src');
function onYouTubePlayerAPIReady() {
	console.log('a');
    player = new YT.Player('player', {
    playerVars: {
        'controls': 0,
        'autohide': 1,
        'wmode': 'opaque',
        'showinfo': 0,
        'loop': 0,
        'rel': 0,
        },
    	videoId: videoId,
    	events: {
        	'onReady': onPlayerReady
    	}
	});
}
function onPlayerReady(event) {
	app=0
	$(window).scroll(function() {
		if (($('.gallery-main').offset().top-$(window).height()*0.9) < $(window).scrollTop() && (app === 0)) {
	  		player.playVideo();
	  		$('.gallery-main img').css({'opacity':0});
	  		app=1;
		}
	});
}
</script>

<script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>