//= template/--head--
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#fff">

	<title>Стиральные машины LG с функцией пара True Steam — LG Россия</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="Узнайте больше о возможностях и характеристиках стиральных машин LG с функцией пара True Steam. Где купить Стиральные машины LG с функцией пара True Steam в Москве, Санкт-Петербурге и в других регионах РФ на официальном сайте производителя.">
	<meta name="keywords" content="lg true steam, функция пара true steam, lg true steam характеристики, lg true steam стиральные машины, lg true steam новости, lg true steam релиз">
	<meta property="og:title" content="Стиральные машины LG с функцией пара True Steam — LG Россия" />
	<meta property="og:description" content="Узнайте больше о возможностях и характеристиках стиральных машин LG с функцией пара True Steam. Где купить Стиральные машины LG с функцией пара True Steam в Москве, Санкт-Петербурге и в других регионах РФ на официальном сайте производителя."/>
	<meta property="og:url" content="https://www.lg.com--path--">
	<meta property="og:keywords" content="lg true steam, функция пара true steam, lg true steam характеристики, lg true steam стиральные машины, lg true steam новости, lg true steam релиз"/>
	<meta property="og:image" content="https://www.lg.com--path--share-wm.jpg?--version--">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	//= template/--header-styles--
	<link rel="stylesheet" href="--path--css/owl.carousel.min.css?--version--">
	<link rel="stylesheet" href="--path--css/jquery.mCustomScrollbar.min.css?--version--">
	<link rel="stylesheet" href="--path--css/style.css?--version--">
	<link rel="stylesheet" href="--path--css/style_wm.css?--version--">
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-4S9T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-4S9T');</script>
	
	<script src="//assets.adobedtm.com/9df6f1d56aab8e1a23bc5d911dd01089b83d4a51/satelliteLib-38d93f9577411a7972ebaf4fc4b2e4c7d977cdc7.js"></script>
</head>
<body>



//= template/--header--
<div class="banner-wrap">
	<div class="banner-main">
		<!-- <img src="--path--img/main-banner.jpg?--version--" alt="" class="desk"> -->
		<img src="--path--img/hero_ST-back_int.png?--version--" alt="" class="desk">
		<img src="--path--img/hero_ST-front_int100.png?--version--" alt="" class="desk parallax">

		<img src="--path--img/main-banner_wm_mob.jpg?--version--" alt="" class="mob">
		<div class="banner-text">
			<div class="banner-logo">
				<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">
			</div>
			<div class="banner-slogan">
				Стиральные машины <br>с&nbsp;функцией пара
			</div>
		</div>
		<div class="banner-button-outer">
			<a href="https://rushop.lg.com/collection/standartnye-stiralnye-mashiny" target="_blank" class="banner-button button fixed">Купить онлайн</a>
		</div>
	</div>
</div>
<div class="section-outer">
	<div class="nav-block">
		<div class="nav-col styler-col">
			<a href="/ru/washing-machines/truesteam">
				<div class="nav-col-logo">
					<img src="--path--img/styler-logo.svg" alt="LG Truesteam">
				</div>
				<div class="nav-col-text">
					Система ухода за одеждой <br>с&nbsp;помощью пара
				</div>
			</a>
		</div>

		<div class="switch wm-switch">
			<img src="--path--img/wm-switch-bg.png" alt="Switch page" class="switch-bg">
			<div id="container-s">
				<div class="switch-slider" id="switch-slider-wm"></div>
				<div class="slide-text">
					< Потяните
				</div>
			</div>
		</div>
		<div class="nav-col truesteam-col">
			<!-- <a href="/ru/washing-machines/truesteam/"> -->
				<div class="nav-col-logo anch">
					<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">
				</div>
				<div class="nav-col-text">
						Стиральные машины 
						<br>с&nbsp;функцией пара
				</div>
			<!-- </a> -->
		</div>
	</div>
	<div class="section-wrap">
		<!-- <div class="content-block">
			<div class="content-block-inner">
				<div class="content-col title-col">
					<div class="truesteam-subline">
						Стиральные машины <br>с&nbsp;функцией пара
					</div>
					<div class="content-logo">
						<img src="--path--img/truesteam-logo.svg?--version--" alt="Бережный уход за деликатными тканями">
					</div>
				</div>
				<div class="content-col big ">
					Бережный уход за&nbsp;деликатными тканями
				</div>
			</div>
		</div> -->
		<div class="features-block">
			<div class="feature-item feature-1 left">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="disclamer">
							*По данным внутренних исследований
						</div>
						<div class="real-bg">
							<img src="--path--img/elements/wm-bg-left.jpg?--version--" alt="Защита от аллергии"  class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-1.jpg?--version--" alt="Защита от аллергии" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Защищает от&nbsp;аллергии
							</div>
							<div class="feature-text">
								Функция пара TrueSteam <sup class="reg">&reg;</sup> делает стирку деликатнее, взяв на&nbsp;себя заботы не&nbsp;только по&nbsp;уходу за&nbsp;вашей одеждой, но&nbsp;и&nbsp;за&nbsp;вашим здоровьем. Специальный гипоаллергенной режим стирки позволяет удалить 99.9% бытовых источников аллергии (таких как шерсть, пыльца, пыль), и&nbsp;обезвредить бактерии.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-right">
					<img src="--path--video/wm_01.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_01.mp4?--version--" muted poster="--path--video/wm_01.jpg?--version--" class="desk" ></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/wm-ico-1.png?--version--" alt="Защита от аллергии">
						</div>
						<div class="point-text animate">
							Собаки могут быть переносчиками аллергенов
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-2 right">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/wm-bg-right.jpg?--version--" alt="Устранение запахов благодаря функции пара"  class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-4.jpg?--version--" alt="Устранение запахов благодаря функции пара" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Смягчает вещи и&nbsp;облегчает глажку
							</div>
							<div class="feature-text">
								Пар является наиболее натуральным способом смягчения одежды. Под воздействием высокой температуры волокна ткани становятся мягкими на&nbsp;ощупь, поэтому облегчается дальнейшая глажка.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/wm_04.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_04.mp4?--version--" poster="--path--video/wm_04.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/wm-ico-4.png?--version--" alt="Устранение запахов благодаря функции пара">
						</div>
						<div class="point-text animate ">
							Мне не нужен утюг
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-4 left">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/wm-bg-left.jpg?--version--" alt="Стирка без химикатов"  class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-3.jpg?--version--" alt="Стирка без химикатов" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Освежает без&nbsp;химикатов
							</div>
							<div class="feature-text">
								В&nbsp;стиральных машинах&nbsp;LG с&nbsp;функцией пара TrueSteam<sup class="reg">&reg;</sup> есть специальный паровой режим &laquo;Освежить&raquo;, который позволяет за&nbsp;20&nbsp;минут устранить впитавшийся запах и&nbsp;разгладить легкие складки без применения моющих средств и&nbsp;воды.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/wm_03.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_03.mp4?--version--" poster="--path--video/wm_03.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/wm-ico-3.png?--version--" alt="Стирка без химикатов">
						</div>
						<div class="point-text animate ">
							Ой, вся в пыльце
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-5 right">
				<div class="feature-content-col ">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/elements/wm-bg-right.jpg?--version--" alt="Превосходное качество стирки" class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-2.jpg?--version--" alt=Превосходное качество стиркии" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Обеспечивает высокое качество стирки
							</div>
							<div class="feature-text">
								В&nbsp;процессе стирки горячий пар, смешиваясь с&nbsp;водой, мягко воздействует на&nbsp;ткань и&nbsp;полностью растворяет остатки моющих средств. Стирка с&nbsp;использованием функции пара является альтернативой долгому замачиванию вещей, так как в&nbsp;ее&nbsp;процессе происходит более быстрое расщепление стойких загрязнений на&nbsp;ткани.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/wm_02.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_02.mp4?--version--" poster="--path--video/wm_02.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/wm-ico-2.png?--version--" alt="Превосходное качество стирки">
						</div>
						<div class="point-text animate ">
							Сейчас вся испачкаюсь
						</div>
					</div>
				</div>
			</div>
<!-- 			<div class="feature-item feature-3 left">
				<div class="feature-content-col hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/wm-feature-5.jpg?--version--" alt="Удаление складок на одежде без утюга"  class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-5.jpg?--version--" alt="Удаление складок на одежде без утюга" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Смягчение ткани и последующая легкая глажка
							</div>
							<div class="feature-text">
								Стиральная машина LG бережно ухаживает за одеждой, устраняя аллергены благодаря функции пара TrueSteam.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-right">
					<img src="--path--video/wm_05.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_05.mp4?--version--"  poster="--path--video/wm_05.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-right">
							<img src="--path--img/wm-ico.png?--version--"  alt="Удаление складок на одежде без утюга">
						</div>
						<div class="point-text animate">
							Текст
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-6 right">
				<div class="feature-content-col  hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/wm-feature-6.jpg?--version--" alt="Придание брюкам первоначального вида"  class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-6.jpg?--version--" alt="Придание брюкам первоначального вида" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Освежение паром
							</div>
							<div class="feature-text">
								В процессе стирки горячий пар, смешиваясь с водой, мягко воздействует на ткань, полностью растворяет остатки моющих средств, обезвреживает бактерии.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/wm_06.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_06.mp4?--version--"  poster="--path--video/wm_06.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/wm-ico.png?--version--" alt="Придание брюкам первоначального вида">
						</div>
						<div class="point-text animate">
							Текст
						</div>
					</div>
				</div>
			</div>
			<div class="feature-item feature-7 left">
				<div class="feature-content-col  hover-left">
					<div class="feature-col-inner">
						<div class="real-bg">
							<img src="--path--img/wm-feature-7.jpg?--version--" alt="Придание брюкам первоначального вида"  class="real-bg-img">
						</div>
						<img src="--path--img/small-wash.png?--version--" alt="Защита от аллергии" class="small-wash">
						<img src="--path--img/wm-feature-7.jpg?--version--" alt="Придание брюкам первоначального вида" class="fake-bg">
						<div class="feature-content white">
							<div class="feature-title">
								Деликатная стирка 
							</div>
							<div class="feature-text">
								Стиральная машина LG бережно ухаживает за одеждой, устраняя аллергены благодаря  функции пара TrueSteam.
							</div>
						</div>
					</div>
				</div>
				<div class="feature-img-col animate animate-left">
					<img src="--path--video/wm_07.jpg?--version--" alt="" class="mob">
					<video src="--path--video/wm_07.mp4?--version--"  poster="--path--video/wm_07.jpg?--version--" muted class="desk"></video>
					<div class="feature-point">
						<div class="point-img animate animate-left">
							<img src="--path--img/wm-ico.png?--version--" alt="Придание брюкам первоначального вида">
						</div>
						<div class="point-text animate">
							Текст
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<div class="gallery-block">
			<div class="gallery-title u-animate">
				<img src="--path--img/truesteam-logo.svg" alt="LG Truesteam">&nbsp;&mdash; как это работает?
			</div>
		</div>
	</div>
	<div class="gallery-outer">
		<div class="section-wrap">
		<div class="gallery-block">
			<div class="gallery-inner">

				<div class="gallery-main u-animate u-animate-left">
					<div id="player"></div>
					<div class="gallery-item-inner" data-src="VFwmUTfP3Ws">
						<div class="play">
							<img src="--path--img/play.png?--version--" alt="">
						</div>
						<img src="--path--img/vid-1_wm.jpg?--version--" alt="LG Truesteam">
					</div>
				</div>
				<div class="gallery-list u-animate owl-carousel">
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="gZlaSbLFhVk" data-time="25">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/01_HA-2.jpg?--version--" alt="Гипоаллергенный уход">
						</div>
						<div class="gallery-text">
							Гипоалергенная обработка
						</div>
					</div>
					
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="gZlaSbLFhVk" data-time="72">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/02_fresh_02-min.jpg?--version--" alt="Освежение и удаление складок">
						</div>
						<div class="gallery-text">
							Освежение и&nbsp;удаление складок
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="gZlaSbLFhVk" data-time="114">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/03_steam-min.jpg?--version--" alt="Смягчение одежды паром">
						</div>
						<div class="gallery-text">
							Смягчение одежды паром
						</div>
					</div>
					<div class="gallery-item">
						<div class="gallery-item-inner" data-src="gZlaSbLFhVk" data-time="159">
							<div class="play">
								<img src="--path--img/play.png?--version--" alt="">
							</div>
							<img src="--path--img/04_quality-min.jpg?--version--" alt="Высокое качество стирки">
						</div>
						<div class="gallery-text">
							Высокое качество стирки
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="section-filters-bar-outer">
	<div class="section-wrap">
		<div class="section-filters-bar">
			<div class="filters-prod-qn">
				<div class="filters-available"></div> / <div class="filters-total"></div>
			</div>
			<div class="tabs filters">
				<a href="javascript:void(0);" data-filter="dry" class="tab">Функция сушки</a>
				<a href="javascript:void(0);" data-filter="turbo" class="tab">Функция быстрой стирки TurboWash</a>
<!-- 				<a href="javascript:void(0);" data-filter="motions" class="tab">6 Движений заботы</a> -->
				<div class="filter-item">
					<div class="filter-text">
						Скорость отжима:
					</div>
					<select name="speed" class="speed">
						<option value="all">Все</option>
						<option value="s1100">1100 об/мин</option>
						<option value="s1200">1200 об/мин</option>
						<option value="s1400">1400 об/мин</option>
						<option value="s1600">1600 об/мин</option>
					</select>
				</div>
				<div class="filter-item">
					<div class="filter-text">
						Глубина:
					</div>
					<select name="depth" class="depth">
						<option value="all">Все</option>
						<!-- <option value="d44">44 см</option> -->
						<option value="d45">45 см</option>
						<option value="d56">56 см</option>
						<option value="d61">61 см</option>
						<option value="d64">64 см</option>
						<option value="d68">68 см</option>
						<option value="d77">77 см</option>
						<option value="d84">84 см</option>
					</select>
				</div>
				<div class="filter-item">
					<div class="filter-text">
						Загрузка белья: 
					</div>
					<select name="weight" class="weight">
						<option value="all">Все</option>
						<!-- <option value="w65">6.5 кг</option> -->
						<option value="w7">7 кг</option>
						<option value="w9">9 кг</option>
						<option value="w105">10.5 кг</option>
						<option value="w12">12 кг</option>
						<option value="w17">17 кг</option>
					</select>
				</div>
			</div>
			<div class="reset button">
				Сбросить
			</div>
		</div>
	</div>
</div>
	<div class="section-wrap">
		<div class="product-section">
			//= template/wm-list.html
		</div>
		<div class="no-products">
			Не найдено товаров с данной комбинацией характеристик. Пожалуйста, попробуйте сменить параметры фильтра.
		</div>
			<!-- <img src="--path--img/trstm_wtb.jpg?--version--" alt=""> -->
	</div>
</div>
<div class="footer-cta">
	<ul>
		<li><a href="/ru/washing-machines" class="cat-filters" target="_blank">Все стиральные машины LG</a></li>
		<li><a href="/ru/products/wtb?modelId=MD05840950" target="_blank">Где купить</a></li>
		<li><a href="https://rushop.lg.com/collection/standartnye-stiralnye-mashiny" target="_blank">Онлайн-магазин LG</a></li>
	</ul>
</div>
//= template/--footer--

<div class="overlay"></div>
<div class="video-popup">
	<div class="video-wrapper"></div>
</div>

<div class="popup-close"><img src="--path--img/close.png?--version--" alt=""></div>
<script src="--path--js/jquery-2.2.3.min.js?--version--"></script>
<script src="--path--js/jquery-ui.min.js?--version--"></script>
<script src="--path--js/owl.carousel.min.js?--version--"></script>
<script src="--path--js/jquery.mCustomScrollbar.concat.min.js?--version--"></script>
<script src="--path--js/touch.js?--version--"></script>
<script src="https://www.youtube.com/player_api"></script>
<script src="--path--js/script3.js?--version--"></script>

<script>
	$(window).scroll(function(){
  if($(window).scrollTop() + $(window).height() > $(document).height() - 160) {
    $('.footer-cta').addClass('static');
    $('.footer-cta').removeClass('fixed');
  } else {
    $('.footer-cta').addClass('fixed');
    $('.footer-cta').removeClass('static');
  }

});

</script>
<script>
    var digitalData={};
    digitalData = {
        pageInfo: {
            pageName: 'ru:Стиральные машины:SpecialProject:Styler_wm',
            channel: 'ru:Стиральные машины:SpecialProject',
            siteSection: 'ru:Стиральные машины:SpecialProject',
            subSection: 'ru:Стиральные машины:SpecialProject'
        },
        siteInfo: {
         siteCountryCode: 'ru'
        },
        globalInfo: {
         languageCode: 'ru'
        }
    };
</script>
<script type="text/javascript">
var player;
var videoId = $('.gallery-main .gallery-item-inner').data('src');
function onYouTubePlayerAPIReady() {
	console.log('a');
    player = new YT.Player('player', {
    playerVars: {
        'controls': 0,
        'autohide': 1,
        'wmode': 'opaque',
        'showinfo': 0,
        'loop': 0,
        'rel': 0,
        },
    	videoId: videoId,
    	events: {
        	'onReady': onPlayerReady
    	}
	});
}
function onPlayerReady(event) {
	app=0
	$(window).scroll(function() {
		if (($('.gallery-main').offset().top-$(window).height()*0.9) < $(window).scrollTop() && (app === 0)) {
	  		player.playVideo();
	  		$('.gallery-main img').css({'opacity':0});
	  		app=1;
		}
	});
}
</script>

<script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>